#{extends 'main.html' /}
<div>
	<img src="@{UserProfileC.pic(userProfile.user.id)}" width="60", height="60"/>
</div>
<div>
	${userProfile.user.name} from ${userProfile.location} 
</div>
<div>
	${userProfile.aboutMyself.nl2br()}
</div>

<div class="userprofile-tabs">
#{tabbedPane show:'settings', tabIds:tabIds, tabNames:tabNames /}
</div>

<div id="settings">
	#{if userProfile.user.email == session.username}
		<div class="personal-details">
			<span>Your email is ${userProfile.user.email}</span>
			<div>Change your password:</div>
			#{form @UserProfileC.change(userProfile.user.email)}
				<div>
					<div>Old Password</div>
					<input type="password" name="oldPassword" value="">
				</div>
				<div>
					<div>New Password</div>
					<input type="password" name="newPassword" value="">
					<span class="error">#{error 'newPassword' /}</span>
					<div>Retype New Password</div>
					<input type="password" name="newPassword2" value="">
					<span class="error">#{error 'newPassword2' /}</span>
				</div>
				
				<p>
		    		<input type="submit" value="Submit" id="postComment" />
		    		<input type="reset" value="Clear" />
				</p>
			#{/form}
			
			
				
			#{form @UserProfileC.update(userProfile.user.id), enctype:'multipart/form-data'}
				<div>
					<div>About Myself:</div>
					<textarea rows="10" cols="80" name="aboutMyself">${userProfile.aboutMyself}</textarea>
				</div>
				<div>
					<div>Location</div>
					<input type="text" name="location" value="${userProfile.location}"/>
				</div>
					
				<div>					
					<input type="file" name="profilePicBlob" />
					<label>${userProfile.profilePic == null ? 'Upload' : 'Change'} profile pic</label>
				</div>
				<div>
					<input type="submit" value="Submit" id="postComment" />
				</div>
			#{/form}
		</div>
	#{/if}
</div>

<div id="merit">
</div>

<div id="questions-asked">
	<div>Questions asked in DIY courses</div>
	#{list items:diyQuestions, as:'diyQuestionDetails'}
		<div>			
			<a href="@{CourseC.question(diyQuestionDetails[1], diyQuestionDetails[0].id)}">${diyQuestionDetails[0].title}</a>
		</div>
	#{/list}
	
	<div>Questions asked in Study Session forums</div>
	#{list items:studySessionQuestions, as:'studySessionQuestionDetails'}
		<div>
			<a href="@{StudySessionC.forumQuestion(studySessionQuestionDetails[1], studySessionQuestionDetails[0].id)}">${studySessionQuestionDetails[0].title}</a>
		</div>
	#{/list}
</div>

<div id="answers-provided">
	<div>Answers given in DIY courses</div>
	#{list items:diyAnswers, as:'diyAnswerDetail'}
		<a href="@{CourseC.question(diyAnswerDetail[1], diyAnswerDetail[0].id)}">${diyAnswerDetail[0].title}</a>
	#{/list}
	
	<div>Answers given in Study Sessions</div>
	#{list items:studySessionAnswers, as:'studySessionAnswerDetail'}
		<a href="@{StudySessionC.forumQuestion(studySessionAnswerDetail[1], studySessionAnswerDetail[0].id)}">${studySessionAnswerDetail[0].title}</a>
	#{/list}
</div>

<div id="challenges-taken">
</div>

