#{extends 'main.html' /}
%{pageTitle = "User " + userProfile.user.screenname + " - Do It Yourself Computer Science"}%
#{set title:pageTitle /}
<div>
	<img src="@{UserProfileC.pic(userProfile.user.id)}" width="60", height="60"/>
</div>
<div>
	${userProfile.user.screenname} 
	#{if userProfile.location}
		from ${userProfile.location}
	#{/if} 
</div>
<div>
	${userProfile.aboutMyself?.nl2br()}
</div>

<div class="userprofile-tabs">
#{tabbedPane show:'merit', tabIds:tabIds, tabNames:tabNames /}
</div>

<div id="settings">
	#{if session.user && userProfile.user.id == Long.parseLong(session.user)}
		<div class="personal-details">
		    #{if userProfile.isUsernamePwdUser()}
				<span>Your email is ${userProfile.user.email}</span>
				<div>Change your password:</div>
				#{form @UserProfileC.change(userProfile.user.email)}
					<div>
						<div>Old Password</div>
						<input type="password" name="oldPassword" value="">
					</div>
					<div>
						<div>New Password</div>
						<input type="password" name="newPassword" value="">
						<span class="error">#{error 'newPassword' /}</span>
						<div>Retype New Password</div>
						<input type="password" name="newPassword2" value="">
						<span class="error">#{error 'newPassword2' /}</span>
					</div>
					
					<p>
			    		<input type="submit" value="Submit" id="postComment" />
			    		<input type="reset" value="Clear" />
					</p>
				#{/form}
			#{/if}
			
				
			#{form @UserProfileC.update(userProfile.user.id), enctype:'multipart/form-data'}
				<div>
					<div>About Myself:</div>
					<textarea rows="10" cols="80" name="aboutMyself">${userProfile.aboutMyself}</textarea>
				</div>
				<div>
					<div>Location</div>
					<input type="text" name="location" value="${userProfile.location}"/>
				</div>
					
				<div>					
					<input type="file" name="profilePicBlob" />
					<label>${userProfile.profilePic == null ? 'Upload' : 'Change'} profile pic</label>
				</div>
				<div>
					<input type="submit" value="Submit" id="postComment" />
				</div>
			#{/form}
		</div>
	#{/if}
</div>

<div id="merit">
</div>

<div id="courses">
	<div style="margin-bottom: 20px;">
	This user has enrolled in ${coursesEnrolled.size()} courses, completed ${coursesCompleted.size()} courses, asked ${diyQuestions.size()} questions, provided ${diyAnswers.size()} answers.
	</div>
	<div class="userprofile-tabs-content">
		<div class="userprofile-tabs-content-title">Courses enrolled</div>
		#{list items:coursesEnrolled, as:'courseEn'}
			<div style="margin-bottom:5px;">
			Enrolled in <a href="@{CourseC.course(courseEn.sanitizedTitle)}">${courseEn.title}</a>, asked ${courseEn.getQuestionsAskedBySocialUser(userProfile.user.id).size()} questions, provided ${courseEn.getAnswersGivenBySocialUser(userProfile.user.id).size()} answers.
			</div>
		#{/list}
	</div>
	
	<div class="userprofile-tabs-content">
		<div class="userprofile-tabs-content-title">Courses completed</div>
		#{list items:coursesCompleted, as:'courseCo'}
			<a href="@{CourseC.course(courseCo.sanitizedTitle)}">${courseCo.title}</a>
		#{/list}
	</div>
	
	<div class="userprofile-tabs-content">
		<div class="userprofile-tabs-content-title">Questions asked in DIY courses</div>
		#{list items:diyQuestions, as:'diyQuestionDetails'}
			<div>			
				<span>+${diyQuestionDetails[0].likes()}</span><a href="@{CourseC.question(diyQuestionDetails[1], diyQuestionDetails[0].id)}">${diyQuestionDetails[0].title}</a>
			</div>
		#{/list}
	</div>
	
	<div class="userprofile-tabs-content">
		<div class="userprofile-tabs-content-title">Answers given in DIY courses</div>
		#{list items:diyAnswers, as:'diyAnswerDetail'}
			<span>+${diyAnswerDetail[0].likes()}</span><a href="@{CourseC.question(diyAnswerDetail[1], diyAnswerDetail[0].id)}">${diyAnswerDetail[0].title}</a>
		#{/list}
	</div>
</div>

<div id="study-sessions">
</div>

<div id="challenges-taken">
</div>

