#{extends 'main.html' /}

<div class="feedbacks">
  
#{list items:feedbacks, as:'feedback'}
	<div class="feedback">
		<div class="feedback-message">
			${feedback.message.nl2br()}
		</div>
		<div class="feedback-name">
			By ${feedback.name}
		</div>
	</div>
#{/list}

</div>

%{
	java.util.Date date = new java.util.Date();
	long ts = date.getTime();
	int random1 = (int)ts % 5;
	int random2 = (int)ts % 3;
}%
<div class="feedback-form">
	#{form @FeedbackC.createFeedback()}
		<input type="hidden" name="cans" value="${random1 + random2}" />
		<p>
			<div><label>Name <span class="required-field">(required)</span> </label></div>
			<input type="text" name="name" value="${flash.name}" id="name" /> <span class="error">#{error 'name' /}</span>
		</p>
		<p>
			<div><label>Email <span class="required-field">(required, but will not be displayed)</span></label></div>
			<input type="text" name="email" value="${flash.email}" id="email" /> <span class="error">#{error 'email' /}</span>
		</p>
		<p>
			<div><label>Message <span class="required-field">(required)</span></label></div>
			<textarea id="feedback_text" class="simple" name="message" rows="8" cols="40" id="message">${flash.message}</textarea>
		</p>
		<p>
			<div><label>If you are not a bot, please enter the answer of "${random1} + ${random2}" </label></div>
			<input type="text" name="cansval" value="" id="cansval" /> <span class="error">#{error 'cansval' /}</span>
		</p>
		<p>
			<input type="submit" value="Submit" id="postFeedback" />
			<input type="reset" value="Clear" />
		</p>
	#{/form}
	<SCRIPT>
		var init_obj = {element_id:'feedback_text', window: window};
		$.extend(true, init_obj, config_tinymce_sim);
		tinyMCE.execCommand('mceAddFrameControl',false, init_obj);
	</SCRIPT>
</div>

