#{extends 'main.html' /}

<div>
<h2>${section.title}</h2>
<div>
Course: ${section.course.title}
</div>
<div>
	${section.content}
</div>
<h3>Activities</h3>
<div>
	#{list items:section.activities, as:'activity'}
		<div><strong>${activity.title}</strong></div>
		<div>
			${activity.content}
		</div>
	#{/list}
</div>
<div>
	<form action="/adminc/deleteSection/${section.id}" method="post">
		<p>
			Do you really want to delete this section ?
		</p>
		<p>
			<input type="submit" name="submit" value="submit" />
		</p>
	</form>
</div>