#{extends 'main.html' /}
<div>Back to <a href="@{AdminC.manageCompetencyTopic(competencyGroup.topic.id)}">manage competency topic</a></div>
<div>Click <a href="@{CompetencyGroups.show(competencyGroup.id)}">here</a> to edit this competency group.</div>
<div>
<h2>Topic: ${competencyGroup.topic.title}</h2>
<h2>Competency Group - ${competencyGroup.title}</h2>

<h3>Competencies</h3>
<div>
	#{list items:competencyGroup.topic.levels, as:'level'}		
		<div><strong>${level.title}</strong></div>
		#{form @AdminC.changeCompetencyPlacements(competencyGroup.topic.id, competencyGroup.id)}
			<div>			
				#{list items:competencyGroup.fetchCompetenciesForLevel(level), as:'competency'}
					<div>
						<input type="text" name="placement-${competency.id}" value="${competency.placement}"/>
						<a href="@{AdminC.manageCompetency(competencyGroup.topic.id, competencyGroup.id, competency.id)}">${competency.title}</a>
						<a href="@{AdminC.deleteCompetencyConfirm(competencyGroup.topic.id, competencyGroup.id, competency.id)}">X</a>
					</div>	
				#{/list}			
			</div>
			<div>
				<input type="submit" name="submit" value="Change Placements" />
			</div>
		#{/form}
	#{/list}
</div>

<h2> Create a new competency</h2>

#{form @AdminC.saveCompetency(competencyGroup.topic.id, competencyGroup.id)}
	#{ifErrors}
		<p class="error">Please correct these errors.</p>
	#{/ifErrors}
	
	#{field 'title'}
		<p>
			<div>#{ifError 'title'}<span class="error">#{error 'title' /}</span>#{/ifError}</div>
			<div><label>Title <span class="required-field">(required)</span></label></div>
			<div><input type="text" name="title" value="${flash['title']}"/></div>
		</p>
	#{/field}
	
	#{field 'levelId'}
		<p>
			<div>#{ifError 'levelId'}<span class="error">#{error 'levelId' /}</span>#{/ifError}</div>			
			#{select 'levelId', size:5, items:competencyGroup.topic.levels/}
		</p>
	#{/field}
	
	#{field 'description'}
		<p>
			<div>#{ifError 'description'}<span class="error">#{error 'description' /}</span>#{/ifError}</div>
			<div>Description: </div>
			<div>
				<textarea class="wmd-input" id="wmd-input" rows="10" cols="80" name="description">${flash['description']}</textarea>
			</div>
		</p>
	#{/field}
	<div id="wmd-preview" class="wmd-panel wmd-preview"></div>
		
	<p>
		<div>Resources: </div>
		<div>
			<textarea rows="10" cols="80" name="resources"></textarea>
		</div>
	</p>
	
	<div>
		<input type="submit" value="submit" name="submit" />
	</div>
#{/form}

<script type="text/javascript">
	(function () {
		var help = function () { alert("For help using markdown, please visit http://daringfireball.net/projects/markdown/syntax"); }
	    var converter1 = Markdown.getSanitizingConverter();
	    var editor1 = new Markdown.Editor(converter1, "", { handler: help });
	    editor1.run();
	    
	})();
</script>