#{extends 'main.html' /}
<a href="@{AdminC.manageCourse(section.course.id)}">Back to manage course</a>
<h2>Course: ${section.course.title}</h2>
<h2>Section: ${section.title}</h2>
Click <a href="@{CourseSections.show(section.id)}">here</a> to edit section details.

<h2>Activities</h2>
<div>
<form action="/adminc/changeActivityPlacements/section/${section.id}" method="post">
#{list items:section.activities, as:'activity'}
	<div>		
		<input type="textbox" name="placement-${activity.id}" value="${activity.placement}">
		<a href="@{Activitys.show(activity.id)}">${activity.title}</a> 
		<a href="@{AdminC.deleteActivityConfirm(activity.id, section.id)}">X</a>
	</div>
#{/list}
	<p><input type="submit" name="submit" value="Change Placement" /></p>	
</form>
</div>
<h3>Add a new activity</h3>
<div>
	<form action="/adminc/saveActivity/section/${section.id}" method="post">		
		<p>
			<div>Title:</div>
			<div><input type="textbox" name="title"/></div>			
		</p>
		<p>
			<div>Contents</div>
			<div>
				<textarea name="content" rows="10" cols="80"></textarea>
			</div>
		</p>
		<p>
			<input type="submit" name="submit" value="submit" />
		</p>
	</form>
</div>
