#{extends 'main.html' /}

<h2>Course details</h2>
Click <a href="@{Courses.show(course.id)}">here</a> to edit course details.

<h2>Sections</h2>
<div>
<form action="/adminc/changePlacements/course/${course.id}" method="post">
#{list items:sections, as:'section'}
	<div>		
		<input type="textbox" name="placement-${section.id}" value="${section.placement}">
		<a href="@{AdminC.manageSection(section.id)}">${section.title}</a> 
		<a href="@{AdminC.deleteSectionConfirm(section.id)}">X</a>
	</div>
#{/list}
	<p><input type="submit" name="submit" value="Change Placement" /></p>	
</form>
</div>
<h3>Add a new section</h3>
<div>
	<form action="/adminc/saveSection/course/${course.id}" method="post">		
		<p>
			<div>Title:</div>
			<div><input type="textbox" name="title"/></div>			
		</p>
		<p>
			<div>Contents</div>
			<div>
				<textarea name="contents" rows="10" cols="80"></textarea>
			</div>
		</p>
		<p>
			<input type="submit" name="submit" value="submit" />
		</p>
	</form>
</div>
