.blog-posts {
	margin: 10px;	
}

.blog-post {
	font-size: 120%;
}

.blog-title {
	font-size: 1.4em;
	margin-top: 20px;
	margin-bottom: 10px;	
}

.blog-post-content {
	
}

.blog-post-content ul {
	list-style-type:square; 
	margin-left:15px;
}

.blog-post-content ol {
	list-style-type:lower-alpha;
	margin-left:15px;
}

.blog-post-comment ul {
	list-style-type:square; 
	margin-left:15px;
}

.blog-post-comment ol {
	list-style-type:lower-alpha;
	margin-left:15px;
}

.blog-post-tags {
	
}

.blog-post-author {
	margin-top: 5px;
	font-size: 0.8em;
}

.blog-post-comment-link {
	margin-top: 8px;
}
