a.competency {
  color: #626266;
  text-decoration: none;
}

a.competency:hover {
  color: #32742C;
  text-decoration: underline;
}

.topic {
	
	float: left;
	border: solid 1px;
	margin: 30px;
	padding: 4px;
}