
.course-title {
	font-size: 22px;
}

.course-sections-header {
	background-color: #364B66	
}

.course-description {
	align: left;
	font-size: 1.4em;
	margin: 10px;
}

.course-sections {
	
}

.course-section-title {
	margin-top: 4px;
	margin-bottom: 16px;
	padding-bottom: 4px;
	font-size: 20px;
	border-bottom-style: solid;
	border-bottom-width: 1px;	
}

.course-section-title a {
	text-decoration: none;	
}
.comment {
	color: #666;
	margin: 10px;
	padding: 4px;
	border-left: #3274D0 solid 4px;
}

.comment-content {
	margin-bottom: 4px;
}

.comment-at-by {
	font-weight: bold;
	font-style: italic;
}
