.feedbacks {
	
}

.feedback {
	color: #666;
	margin: 10px;
	padding: 4px;
	border-left: #3274D0 solid 4px;
}

.feedback-message {
	font-size: 12px;
	margin-bottom: 4px;
	padding: 4px;
}

.feedback-name {
	font-size: 10px;
	padding-left: 8px;
}