#CALeft {
    float: left;
    position: relative;
    width: 700px;;
}
#listA {
    float: left;
    padding: 0;
    width: 100%;
}

#listA .short-summary:first-of-type {
    border-top: 0 none;
}
.short-summary {
    border-top: 1px dotted #CCCCCE;
    float: left;
    overflow: hidden;
    padding: 3px 0 5px;
    position: relative;
    width: 700px;;
}
.short-summary .counts {
    float: left;
    margin-right: 0;
    margin-top: 4px;
    padding-right: 2px;
}
.short-summary .votes, .short-summary .views {
    color: #666666;
}

.short-summary .votes, .short-summary .status, .short-summary .views {
    border-bottom: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid #CCCCCC;
    float: left;
    font-size: 11px;
    height: 42px;
    margin: 0 6px 0 0;
    padding: 8px 2px 0;
    text-align: center;
    width: 46px;
}
.answered {
    background: none repeat scroll 0 0 #E5EBF8;
    color: #314362;
}
.short-summary .counts .item-count {
    font-size: 17px;
    font-weight: bold;
}
.short-summary .question-summary-wrapper {
    float: right;
    width: 565px;
}
h2 {
    font-size: 140%;
    line-height: 110%;
    padding: 3px 0;
}
.short-summary h2 a {
    color: #2A5594;
    font-family: "Trebuchet MS","segoe ui",arial,sans-serif;
    font-size: 17px;
}
.short-summary .userinfo {
    color: #666666;
    float: right;
    margin-top: 8px;
}
.short-summary .userinfo {
    color: #666666;
    float: right;
    margin-top: 8px;
}
.score {
    color: #333333;
    font-size: 110%;
    font-weight: bold;
    margin-left: 3px;
}

.tags {
    display: block;
    font-family: sans-serif;
    line-height: 200%;
    margin-top: 5px;
	float:left;
	padding:2px;
}

.tags a, span.tag {
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #777777;
    font-size: 11px;
    font-weight: normal;
    padding: 1px 8px;
    text-decoration: none;
    white-space: nowrap;
}

.tags a:hover {
    background-color: #356FCB;
    color: #FFFFFF;
}

	/* > Start Answer 
-------------------------------------------------------------- */
.headNormal {
    border-bottom: 1px solid #777777;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 12px;
    padding: 3px;
    text-align: left;
}

.tabBar {
    background-color: #FFFFFF;
    border-bottom: 1px solid white;
    clear: both;
    height: 30px;
    margin-bottom: 3px;
    width: 100%;
}

.tabsA {
    background-color: #FFFFFF;
    display: block;
    float: right;
    font-weight: bold;
    height: 20px;
    position: relative;
}

.tabsA a, .sticky-sort-tabs {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #888A85;
    display: block;
    float: left;
    height: 20px;
    line-height: 22px;
    margin: 5px 4px 0 0;
    text-decoration: none;
}

.tabsA a {
    padding: 0 11px;    
}

.sticky-sort-tabs {
    width: 20px;
    padding: 0;
}

.sticky-sort-tabs input {
    border: 0;
    height: 14px;
    width: 14px;
    margin: 2px;
}

.tabsA a.on, .tabsA a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #A40000;
}

.tabsA a:hover {
    background: none repeat scroll 0 0 #356FCB;
    color: #FFFFFF;
}

.headlineA {
    border-bottom: 1px solid #777777;
    font-size: 13px;
    font-weight: 800;
    height: 30px;
    margin-bottom: 12px;
    padding-bottom: 2px;
    text-align: right;
}

.headQuestions {
    #background: url("../images/dot-list.gif") no-repeat scroll left center transparent;
    border-bottom: 0 solid #777777;
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: 23px;
    line-height: 23px;
    margin: 5px 0 0 5px;
    padding: 0 6px 0 15px;
}

.headUsers {
    #background: url("../images/dot-list.gif") no-repeat scroll left center transparent;
    border-bottom: 0 solid #777777;
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: 23px;
    line-height: 23px;
    margin: 5px 0 0 5px;
    padding: 0 6px 0 15px;
}

.headMedals {
    #background: url("../images/dot-list.gif") no-repeat scroll left center transparent;
    border-bottom: 0 solid #777777;
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: 23px;
    line-height: 23px;
    margin: 5px 0 0 5px;
    padding: 0 6px 0 15px;
}

.headNormal {
    border-bottom: 1px solid #777777;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 12px;
    padding: 3px;
    text-align: left;
}

.headUser {
    border-bottom: 1px solid #777777;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 12px;
    padding: 5px;
    text-align: left;
}

.questions-related {
    font-weight: 700;
    word-wrap: break-word;
}

.questions-related p {
    font-size: 100%;
    line-height: 20px;
    margin-bottom: 10px;
}

.question-body {
    font-size: 13px;
    line-height: 20px;
    min-height: 100px;
}

.question-body img {
    max-width: 640px;
}

.vote-buttons {
    float: left;
    text-align: center;
}

span.form-error {
    color: #990000;
    font-weight: normal;
    margin-left: 5px;
}

ul.errorlist li {
    color: #990000;
    font-weight: normal;
    margin-left: 0px;
    margin-top: 5px;
}

.answer {
    border-bottom: 1px solid #CCCCCE;
    padding-top: 10px;
    width: 100%;
}

.answer-body {
    font-size: 13px;
    line-height: 20px;
    min-height: 80px;
}

.answer-body img {
    max-width: 640px;
}

.answered-by-owner {
    background: none repeat scroll 0 0 #E9E9FF;
}

.accepted-answer {
    background-color: #EBFFE6;
    border-bottom-color: #9BD59B;
}

.answered {
    background: none repeat scroll 0 0 #E5EBF8;
    color: #314362;
}

.answered-accepted, .answer-votes.answered-accepted {
    background: none repeat scroll 0 0 #E6F8DD;
    color: #3A6231;
}

.unanswered {
    background: none repeat scroll 0 0 #F3E3E1;
    color: #6B2B28;
}

.post-update-info {
    display: inline-block;
    float: right;
    margin-bottom: 5px;
    width: 190px;
}
.post-score, .comments-char-left-count {
    color: #777777;
    font-family: Arial;
    font-size: 165%;
    font-weight: bold;
    padding: 0 0 3px;
}

.post img {
    background: url(../images/vote-arrow-up.png) no-repeat scroll center center transparent;
}
.post:hover img {
    background: url(../images/vote-arrow-up-on.png) no-repeat scroll center center transparent;
}

