/** Page layout **/


.pagination {
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-weight: bold;
	border-bottom: 1px dotted #ccc;
}



.site-event {
	margin-bottom: 10px;
}

.site-event a {
	text-decoration: none;
}

.sidebar-widget {
	
}

.sidebar-widget-title {
	margin-bottom: 5px;
	font-weight: bold;	
}

.study-session-affiliates {
	margin-bottom: 10px;	
}