#{extends 'BookGroupC/bookGroupMain.html' /}

<div id="question">
	#{if question}
		#{question question:question,
	           as:'tba',
			   controllerAction:'BookGroupC.forumQuestion',
			   actionArgsMap:['bookGroupId':bookGroup.id, 'questionId':question.id] /}
			   
		<div id="answer-form" class="section-question-form">
			#{answerForm protected:true,
				             user:session.user,
							 controllerAction:'BookGroupSecureC.postAnswer',
							 actionArgsMap:[bookGroupId:bookGroup.id, forumId:bookGroup.forum.id, questionId:question.id] /}		
	    </div>
	#{/if}
</div>