#{extends 'BookGroupC/bookGroupMain.html' /}

<h4>Book</h4>
<div>
	<span style="font-weight: bold;">Title: </span> ${bookGroup.book.title}
</div>
<div>
	<span style="font-weight: bold;">Authors: </span>  
	#{list items:bookGroup.book.authors, as:'author'} 
	    ${author.firstName} ${author.lastName}, 
	#{/list}
</div>

<div>
	#{if !bookGroup.hasStartedReading(session.user) && !bookGroup.hasCompletedReading(session.user)}
				
	#{/if}
	#{elseif bookGroup.hasStartedReading(session.user) && !bookGroup.hasCompletedReading(session.user)}
		
	#{/elseif}
	#{else}
		
	#{/else}
</div>
