#{extends 'main.html' /}
%{
	flash.put("url", request.method == "GET" ? request.url : "/");
}%


<div style="font-weight: bold; font-size: 1.4em; margin-bottom: 10px; border-bottom: 1px solid;">
	#{recentlyPubSS /}
</div>

<div>
<a style="font-size: 1.3em; font-weight: bold; color: green;" href="/page/study-groups-how-it-works">HOW IT WORKS</a>
</div>

<div style="background-color:#6FB748; color: white; line-height:30px;"><h4 style="padding: 4px;">Study groups which will start soon </h4></div>
<div class="study-sessions">
#{list yetToStart}
	<div class="post-box">
	
	</div>

	<div class="comentwrap">
	 <div class="grid">
	 	<a href="@{StudySessionC.studySession(_.key.sanitizedTitle)}">
	 		<img src="@{StudySessionC.pic(_.key.id)}" border="0" width="60" height="60" />
	 	</a>
	 </div>
	 <div class="comentwrappost-title"> 
	 	<a href="@{StudySessionC.studySession(_.key.sanitizedTitle)}">${_.key.title}</a>
	 </div>
	 <div class="comentwrappost-datetime"> Starting: ${_.key.startDate.format('dd MMM yyyy')} - Ending: ${_.key.endDate.format('dd MMM yyyy')} </div>
	 <div class="comentwrappost-course"> 
	 	#{studySessionMetadata ss:_.key, ssm:_.value /} 
		#{apply ss:_.key, ssm:_.value /} 
	 </div>
	 <div class="pepcomentwrap">
	 <div style="margin-left: auto; margin-right: auto;">
	 	<div class="pep"><img src="/public/images/people.png" border="0" width="20" height="17" /></div>
	 	<div class="peptext"><span style="margin-left: 10px; margin-right: 10px;">${_.key.getAcceptedUsersCount()}</span></div>
	 </div>
	 </div>
	
	</div> 
#{/list}
</div>

<div style="background-color: #B2F792; color: green; line-height:30px; margin-top: 40px;"><h4 style="padding: 4px;">Study groups that have already started</h4></div>
<div class="study-sessions">
#{list ongoing}
	<div class="post-box">
	
	</div>

	<div class="comentwrap">
	 <div class="grid">
	 	<a href="@{StudySessionC.studySession(_.key.sanitizedTitle)}">
	 		<img src="@{StudySessionC.pic(_.key.id)}" border="0" width="60" height="60" />
	 	</a>
	 </div>
	 <div class="comentwrappost-title"> 
	 	<a href="@{StudySessionC.studySession(_.key.sanitizedTitle)}">${_.key.title}</a>
	 </div>
	 <div class="comentwrappost-datetime"> Starting: ${_.key.startDate.format('dd MMM yyyy')} - Ending: ${_.key.endDate.format('dd MMM yyyy')} </div>
	 <div class="comentwrappost-course"> 
	 	#{studySessionMetadata ss:_.key, ssm:_.value /} 
		#{apply ss:_.key, ssm:_.value /} 
	 </div>
	 <div class="pepcomentwrap">
	 <div style="margin-left: auto; margin-right: auto;">
	 	<div class="pep"><img src="/public/images/people.png" border="0" width="20" height="17" /></div>
	 	<div class="peptext"><span style="margin-left: 10px; margin-right: 10px;">${_.key.getAcceptedUsersCount()}</span></div>
	 </div>
	 </div>
	
	</div>
#{/list}
</div>

<div style="background-color:#AAA; color: white; margin-top: 40px;"><h4 style="padding: 4px;">Study groups that have recently finished</h4></div>
<div class="study-sessions">
#{list over}			
	<div class="over-study-session-title">			
		<a href="@{StudySessionC.studySession(_.key.sanitizedTitle)}">${_.key.title}</a> <span>completed on ${_.key.endDate.format('dd MMM yy')}</span>
	</div>					
#{/list}
</div>
<div style="margin-top: 40px;">
	<span style="font-weight: bold; font-size: 1.4em;"><a href="@{StudySessionC.archives()}">Archived study groups</a></span>
</div>