#{extends 'main.html' /}
%{
	flash.put("url", request.method == "GET" ? request.url : "/");
}%


<div style="font-weight: bold; margin-bottom: 10px; border-bottom: 1px solid;">
	#{recentlyPubSS /}
</div>

<div align="center" style="background-color:#E4F2FA; line-height:30px;"><h3>Starting Soon </h3></div>
<div class="study-sessions">
#{list yetToStart}
	<div class="post-box">
	
	</div>

	<div class="comentwrap">
	 <div class="grid">
	 	<a href="@{StudySessionC.studySession(_.key.id)}">
	 		<img src="@{StudySessionC.pic(_.key.id)}" border="0" width="60" height="60" />
	 	</a>
	 </div>
	 <div class="comentwrappost-title"> 
	 	<a href="@{StudySessionC.studySession(_.key.id)}">${_.key.title}</a>
	 </div>
	 <div class="comentwrappost-datetime"> Starting: ${_.key.startDate.format('dd MMM yy')} - Ending: ${_.key.endDate.format('dd MMM yy')} </div>
	 <div class="comentwrappost-course"> 
	 	#{studySessionMetadata ss:_.key, ssm:_.value /} 
		#{apply ss:_.key, ssm:_.value /} 
	 </div>
	 <div class="pepcomentwrap">
	 <div class="pep"><a href="#"><img src="/public/people.png" border="0" width="20" height="17" /></a></div>
	 <div class="peptext">people</div>
	 </div>
	
	</div> 
#{/list}
</div>

<div align="center" style="background-color:#F8FCE4; line-height:30px;"><h3>Currently Ongoing</h3></div>
<div class="study-sessions">
#{list ongoing}
	<div class="post-box">
	
	</div>

	<div class="comentwrap">
	 <div class="grid">
	 	<a href="@{StudySessionC.studySession(_.key.id)}">
	 		<img src="@{StudySessionC.pic(_.key.id)}" border="0" width="60" height="60" />
	 	</a>
	 </div>
	 <div class="comentwrappost-title"> 
	 	<a href="@{StudySessionC.studySession(_.key.id)}">${_.key.title}</a>
	 </div>
	 <div class="comentwrappost-datetime"> Starting: ${_.key.startDate.format('dd MMM yy')} - Ending: ${_.key.endDate.format('dd MMM yy')} </div>
	 <div class="comentwrappost-course"> 
	 	#{studySessionMetadata ss:_.key, ssm:_.value /} 
		#{apply ss:_.key, ssm:_.value /} 
	 </div>
	 <div class="pepcomentwrap">
	 <div class="pep"><img src="/public/images/people.png" border="0" width="20" height="17" /></div>
	 <div class="peptext">people</div>
	 </div>
	
	</div>
#{/list}
</div>

<div align="center" style="background-color:#F8FCE4; line-height:30px;"><h3>Recently Finished</h3></div>
<div class="study-sessions">
#{list over}			
	<div class="over-study-session-title">			
		<a href="@{StudySessionC.studySession(_.key.id)}">${_.key.title}</a> <span>completed on ${_.key.startDate.format('dd MMM yy')}</span>
	</div>					
#{/list}
</div>
<div>
	<a href="@{StudySessionC.archives()}">Archives</a>
</div>