#{extends 'main.html' /}
%{
	flash.put("url", request.method == "GET" ? request.url : "/");
}%
<div class="study-sessions">
#{list studySessions}
	<div class="study-session" >
		<div class="study-session-title">
			<a href="@{StudySessionC.studySession(_.key.id)}">${_.key.title}</a>
		</div>
		<div class="study-session-description">${_.key.description}</div>
		<div class="study-session-dates">Starting: <span>${_.key.startDate.format('dd MMM yy')}</span> - Ending: <span>${_.key.endDate.format('dd MMM yy')}</span></div>
		<div class="study-session-details-panel">
			#{studySessionMetadata ss:_.key, ssm:_.value /} #{apply ss:_.key, ssm:_.value /}
		</div>					
	</div>
#{/list}
</div>
