#{extends 'StudySessionC/studySessionMain.html' /}
%{
	flash.put("url", request.method == "GET" ? request.url : "/");
}%

#{set noUpdates:true /}

#{studySessionAffiliatez studySession:studySession, location:1, flow:1 /}

<div>Study Session - 
	<a href="@{StudySessionC.studySession(studySession.id)}">${studySession.title}</a>
</div>
<h3 class="study-session-title">${studySession.forum.title}</h3>

<div class="course-description">
	${studySession.forum.description}
</div>

<!--Start forum section -->
<div id="CALeft">
<div id="listA">

#{list items:studySession.forum.questions, as:'forumQuestion'}
	#{question question:forumQuestion,
	           as:'t',
			   controllerAction:'StudySessionC.forumQuestion',
			   actionArgsMap:['studySessionId':studySession.id, 'questionId':forumQuestion.id] /}
#{/list}

<!-- End forum section -->
</div>
</div>

<div id="questions" class="section-questions">


<!-- TODO: A user should be registered to post questions, and they can apply for a course only if the course is still open for enrollment -->
<div id="question-form" class="section-question-form">
		#{if session.user}
			#{if studySession.isUserEnrolled(session.user) || studySession.isFacilitator(session.user)}
				#{questionForm controllerAction:'StudySessionSecureC.postQuestion', 
							   actionArgsMap:['studySessionId':studySession.id,'forumId':studySession.forum.id] /}
			#{/if}
			#{elseif studySession.isApplicationPending(session.user)}
				Your application is being reviewed. You will be able to ask questions once it gets approved.
			#{/elseif}
			#{elseif studySession.canEnroll(session.user)}
				Please <a href="@{StudySessionSecureC.apply(studySession.id)}">Apply</a></span>  to post questions.
			#{/elseif}						
			#{else}
				You are welcome to view all all discussions. Please consider enrolling in a future course to participate in the discussions.
			#{/else}
		#{/ if}
		#{else}
			Please <a href="@{Secure.login}">login</a> to post questions.			
		#{/else}
		
</div>

</div>