#{extends 'StudySessionC/studySessionMain.html' /}
#{set noUpdates:true /}

#{list items:participants, as:'participant'}
	<div>
		<span>
			<img width="40" height="40" src="@{UserProfileC.pic(participant.id)}">
		</span>
		<a href="@{UserProfileC.show(participant.id)}">${participant.screenname}</a>
		#{if session.user && studySession.isFacilitator(session.user) && !studySession.isFacilitator(participant.id)}
		<span><a href="@{StudySessionSecureC.makeFacilitator(studySession.id, participant.id)}">Make Facilitator</a></span>
		#{/ if}
		#{if session.user && studySession.isFacilitator(session.user)}
			<span>
				<a href="@{StudySessionSecureC.makeFacilitator(studySession.id, participant.id)}">Make Facilitator</a>
				${studySession.getMostRecentApplicationForUser(participant.id)?.application}
			</span>
		#{/ if}
	</div>
#{/list}