#{extends 'main.html' /}
%{
	flash.put("url", request.method == "GET" ? request.url : "/");
}%

<h3 class="study-session-title"><a style="text-decoration:none;" href="@{StudySessionC.studySession(studySessionId)}">${sessionPart.studySession.title}</a> : ${sessionPart.title}</h3>

<hr/>
<div class="study-session-dates">
	Starts: <span class="study-session-date">${sessionPart.startDate}</span> - End: <span class="study-session-date">${sessionPart.endDate}</span>
</div>
<div class="study-session-description-full">
	${sessionPart.content.raw()}
</div>
<div>
	<div style="margin-bottom: 16px;">
		<span style="font-size: 1.6em;">Activities - </span>
		<div class="vspacediv">This session has the following activities. Please complete them and submit links to your work. A good place to publish your activities is your blog, website, some wiki, or or any publicly accessible page on the Internet.</div>
		<div class="vspacediv"><a href="@{StudySessionC.sessionPartActivityResponses(sessionPart.studySession.id, sessionPart.id)}">View all responses</a></div>
	</div>
	#{list items:sessionPart.activities, as:'activity'}
		<div class="standard-div">
			<h2>Activity ${activity_index} : ${activity.title}</h2>
			${activity.content.raw()}
		</div>
		<div style="border-bottom: dotted 1px; margin-bottom: 10px; padding-bottom: 10px;">
			<form action="/" id="activity-response-${activity_index}">
				<span>Submit your response to this activity (link to a blog post, etc)</span>
				<input type="text" name="activityResponse" /><input type="submit" name="submit" value="Submit"/>
			</form>
			<span id="activity-response-count-${activity_index}">${activity.activityResponses.size()}</span> responses recieved.
			<script type="text/javascript">
				$('#activity-response-${activity_index}').submit(function(e) {
					// stop normal link click					
					e.preventDefault();
					var $form = $(this);
					var ar = $form.find('input[name="activityResponse"]').val();
					$.post("/activityresponse/${activity.id}", {activityResponse:ar}, function(response) {
						$('#activity-response-count-${activity_index}').html(response);
					});
				});		
			</script>
		</div>
	#{/list}
</div>