#{extends 'StudySessionC/studySessionMain.html' /}
%{
	flash.put("url", request.method == "GET" ? request.url : "/");
}%

#{set studySession:sessionPart.studySession /}

<h3 class="study-session-title"><a style="text-decoration:none;" href="@{StudySessionC.studySession(studySessionId)}">${sessionPart.studySession.title}</a> : ${sessionPart.title}</h3>

<hr/>

#{studySessionAffiliatez studySession:studySession, location:1, flow:1 /}

<div class="study-session-dates">
	Starts: <span class="study-session-date">${sessionPart.startDate}</span> - End: <span class="study-session-date">${sessionPart.endDate}</span>
</div>
<div class="study-session-description-full">
	${sessionPart.content.raw()}
</div>
<div>
	<div style="margin-bottom: 16px;">
		<span style="font-size: 1.6em;">Activities - </span>
		<div class="vspacediv">This session has the following activities. Please complete them and submit links to your work. A good place to publish your activities is your blog, website, some wiki, or or any publicly accessible page on the Internet.</div>
		<div class="vspacediv"><a href="@{StudySessionC.sessionPartActivityResponses(sessionPart.studySession.id, sessionPart.id)}">View all responses</a></div>
	</div>
	#{list items:sessionPart.activities, as:'activity'}
		<div class="standard-div">
			<h2>Activity ${activity_index} : ${activity.title}</h2>
			${activity.content.raw()}
		</div>
		<div style="border-bottom: dotted 1px; margin-bottom: 10px; padding-bottom: 10px;">
			#{if !session.user}
				<div style="margin-top: 10px; margin-bottom: 10px;">
					<strong>If you are enrolled in this course, then please login to submit your response to this activity</strong>
				</div>
			#{/if}
			#{elseif session.user && !sessionPart.studySession.isUserEnrolled(session.user)}
				<div style="margin-top: 10px; margin-bottom: 10px;">
					<strong>You cannot submit your response to this activity since you are not participating in this course, but you are welcome to audit this course, and do the activities on your own ...</strong>
				</div>
			#{/elseif}
			#{if session.user && sessionPart.studySession.isUserEnrolled(session.user)}
				<form action="/" id="activity-response-${activity_index}">
					<span>Submit your response to this activity (link to a blog post, etc)</span>
					<input type="text" name="activityResponse" /><input type="submit" name="submit" value="Submit"/>
					<span id="activity-response-count-${activity_index}">${activity.activityResponses.size()}</span> total responses.
				</form>
				
				<script type="text/javascript">
					$('#activity-response-${activity_index}').submit(function(e) {
						// stop normal link click 
						e.preventDefault();
						var $form = $(this);
						var ar = $form.find('input[name="activityResponse"]').val();
						$.post("/activityresponse/${activity.id}", {activityResponse:ar}, function(response) {
							$('#activity-response-count-${activity_index}').html('<span style=\"color:green; font-weight: bold\">Thank You</span> ' + response);
							$form.find('input[name="activityResponse"]').val("");
						});
					});		
				</script>
			#{/if}
		</div>
	#{/list}
</div>