#{extends 'main.html' /}

<h1> Responses received for various activities in ${sessionPart.studySession.title} : <a href="@{StudySessionC.sessionPart(sessionPart.studySession.id, sessionPart.id)}">${sessionPart.title}</a></h1>
#{list items:sessionPart.activities, as:'activity'}
	<h2>Activity ${activity_index} : ${activity.title}</h2>
	<h2>Responses</h2>
	#{list items:activity.activityResponses, as:'activityResponse'}
		<div>
			<a href="${activityResponse.responseLink}">${activityResponse.responseLink}</a> By <a href="@{UserProfileC.show(activityResponse.user.id)}">${activityResponse.user.screenname}</a>
		</div>
	#{/list}
#{/list}