#{extends 'StudySessionC/studySessionMain.html' /}
#{set noUpdates:true /}
#{set studySession:sessionPart.studySession /}

#{studySessionAffiliatez studySession:studySession, location:1, flow:1 /}

<h4> Responses received for various activities in ${sessionPart.studySession.title} : <a href="@{StudySessionC.sessionPart(sessionPart.studySession.id, sessionPart.id)}">${sessionPart.title}</a></h4>
#{list items:sessionPart.activities, as:'activity'}
	<h4 style="margin-top:15px; margin-bottom:15px">Activity ${activity_index} : ${activity.title}</h4>
	#{list items:activity.activityResponses, as:'activityResponse'}
		<div style="margin: 5px;">
			${activityResponse.timestamp?.since(true)} <a href="@{UserProfileC.show(activityResponse.user.id)}">${activityResponse.user.screenname}</a> submitted <a href="${activityResponse.responseLink}" target='_blank'>${activityResponse.title ? activityResponse.title : activityResponse.responseLink}</a>
		</div>
	#{/list}
#{/list}