#{extends 'main.html' /}

#{if studySession}
<div style="margin-bottom:15px;">
<a style="border: 2px solid #364B66; background: #364B66; padding: 2px; color: white; margin-left: 5px; margin-right: 5px;" href="@{StudySessionC.studySession(studySession.id)}">Study Group</a> 
<a style="border: 2px solid #666; background: #666; padding: 2px; color: white; margin-left: 5px; margin-right: 5px;" href="@{StudySessionC.participants(studySession.id)}">Participants</a>
<a style="border: 2px solid #666; background: #666; padding: 2px; color: white; margin-left: 5px; margin-right: 5px;" href="@{StudySessionC.forum(studySession.id)}">Discussion Forum</a>
<a style="border: 2px solid #666; background: #666; padding: 2px; color: white; margin-left: 5px; margin-right: 5px;" href="@{StudySessionC.resources(studySession.id)}">Resources</a>
#{if session.user && studySession.canManageParticipants(session.user)}
	<a style="border: 2px solid #6b94ff; background: #6b94ff; padding: 2px; color: white; margin-left: 5px; margin-right: 5px;" href="@{StudySessionSecureC.manageParticipants(studySession.id)}">Manage Participants</a>
#{/ if}

</div>
#{/if}

#{doLayout /}

#{ifnot noUpdates}
<div style="border: solid 1px #CCC; padding: 10px; margin-top: 35px;">
	#{printStudySessionEvents studySession:studySession /}
</div>
#{/ifnot}
