#{extends 'main.html' /}

#{if studySession}
#{studySessionAffiliatez studySession:studySession, location:1, flow:1 /}
<div class="mainsubnav">
	<div class="subnav mainnavs">
	<ul>
		<li><a class="#{studyGroupsSelectedStyle menu:'home' /}" href="@{StudySessionC.studySession(studySession.sanitizedTitle)}">Study Group Home</a></li>
		<li><a class="#{studyGroupsSelectedStyle menu:'participants'/}" href="@{StudySessionC.participants(studySession.sanitizedTitle)}">Participants</a></li>
		<li><a class="#{studyGroupsSelectedStyle menu:'forums' /}" href="@{StudySessionC.forum(studySession.sanitizedTitle)}">Discussion Forum</a></li>
		<li><a class="#{studyGroupsSelectedStyle menu:'resources'/}" href="@{StudySessionC.resources(studySession.sanitizedTitle)}">Resources</a></li>
		#{if session.user && studySession.canManageParticipants(session.user)}
			<li><a #{studyGroupsSelectedStyle menu:'manage'/}" href="@{StudySessionSecureC.manageParticipants(studySession.id)}">Manage Participants</a></li>
		#{/ if}
	</ul>
	</div>
</div>
#{/if}

#{doLayout /}

#{ifnot noUpdates}
<div style="border: solid 1px #CCC; padding: 10px; margin-top: 35px;">
	#{printStudySessionEvents studySession:studySession /}
</div>
#{/ifnot}
