#{extends 'main.html' /}
<div>Study Session - 
	<a href="@{StudySessionC.studySession(studySession.id)}">${studySession.title}</a>
</div>
<h3 class="study-session-title">${studySession.forum.title}</h3>

<div class="course-description">
	${studySession.forum.description}
</div>


#{if question}
	#{tabbedPane show:'selected-question', tabIds:tabIds, tabNames:tabNames /}
#{/if}
#{else}
   #{tabbedPane show:'questions', tabIds:tabIds, tabNames:tabNames /}
#{/else}


<div id="questions" class="section-questions">
#{list items:studySession.forum.questions, as:'forumQuestion'}
	<div class="section-question">
		<a href="@{StudySessionC.studySessionForumQuestion(studySession.id, forumQuestion.id)}">${forumQuestion.title}</a>
		<div class="tab-menu">
			<span class="question-asked-at">${forumQuestion.askedAt.format('dd MMM yy, hh:mm')}</span>
			<span class="question-author">${forumQuestion.author.name}</span>
		</div>
	</div>
#{/list}

<div id="question-form" class="section-question-form">
		#{if user}
			#{questionForm controllerAction:'StudySessionC.studySessionQuestion', 
						   actionArgsMap:['studySessionId':studySession.id,'forumId':studySession.forum.id] /}
		#{/if}
		#{else}
			Please <a href="@{Secure.login}">login</a> to post questions.
		#{/else}
</div>

</div>


<div id="selected-question">
	#{if question}
		<div class="study-session-title">
			${question.title}
		</div>
		<div class="question-content">
			${question.content}
		</div>
		
		<div id="answers">
			#{list items:question.answers, as:'theAnswer'}
				#{if theAnswer.content}
					<div class="answer-content">
						${theAnswer.content}
					</div>
				#{/if}
			#{/list}
		</div>
		
		<div id="answer-form" class="section-question-form">
		#{if user}
			#{form @StudySessionC.studySessionAnswer(studySession.id, studySession.forum.id, question.id)}				
				<p>
					<textarea name="answerContent" rows="8" cols="40" id="answer-content"></textarea>
				</p>
				<p>
					<input type="submit" value="Submit" id="postAnswer" />
					<input type="reset" value="Clear" />
				</p>	
			#{/form}		
		#{/if}
		#{else}
			Please <a href="@{Secure.login}">login</a> to post an answer.
		#{/else}
		</div>
	#{/if}
</div>