#{extends 'main.html' /}
%{
	flash.put("url", request.method == "GET" ? request.url : "/");
}%

<h3 class="study-session-title">${studySession.title}</h3>
<div class="study-session-details-panel">
	#{studySessionMetadata ss:studySession, ssm:studySessionMeta /} #{apply ss:studySession, ssm:studySessionMeta /}
</div>
<hr/>
<div class="study-session-description-full">
	${studySession.description.raw()}
</div>
<div class="study-session-dates">
	Starts: <span class="study-session-date">${studySession.startDate}</span> - End: <span class="study-session-date">${studySession.endDate}</span>
</div>
<div style="margin-top: 10px; margin-bottom: 10px; padding-top:5px; padding-bottom:5px; border: solid 1px;">
	<div>This course is facilitated by : </div>
	#{list items:studySession.facilitators, as:'facilitator'}
		<div>
			<span><img width="40" height="40" src="@{UserProfileC.pic(facilitator.id)}"></span><a href="@{UserProfileC.show(facilitator.id)}">${facilitator.screenname}</a>
		</div>
	#{/list}
</div>
<div>
	<a href="@{StudySessionC.participants(studySession.id)}">Enrolled Participants</a>
</div>

#{if session.user && studySession.canManageParticipants(session.user)}
<div>
	<a href="@{StudySessionSecureC.manageParticipants(studySession.id)}">Manage Participants</a>
</div>
#{/ if}

<div style="font-weight: bold; font-size: 1.4em; margin-top: 5px; margin-bottom: 5px;">
	<a href="@{StudySessionC.forum(studySession.id)}">Discussion Forum</a>
</div>
<div style="font-size: 1.2em; font-weight: bold; margin-top: 10px;">
	Study Plan
</div>
<div>
	<ul>
		#{list items:studySession.sessionParts, as:'sessionPart'}
			<li style="margin-top: 5px; font-size: 1.1em;"><a href="@{StudySessionC.sessionPart(studySession.id, sessionPart.id)}">${sessionPart.title}</a> <span class="study-session-date" style="font-size: 0.6em;">${sessionPart.startDate.format('dd MMM yy')}</span> - <span class="study-session-date" style="font-size: 0.6em;">${sessionPart.endDate.format('dd MMM yy')}</span></li>
		#{/list}
	</ul>
</div>
<div style="margin-top:10px; padding-top:10px; border-top:1px dotted;">
	<a href="@{StudySessionC.resources(studySession.id)}">Resources</a>
</div>
<hr/>
