#{extends 'main.html' /}
%{
	flash.put("url", request.method == "GET" ? request.url : "/");
}%

<h3 class="study-session-title">${studySession.title}</h3>
<div class="spaced">
	#{if !session.user || !studySession.isUserEnrolled(session.username)}
		<span class="study-session-enrollment"><a href="@{StudySessionC.register(studySession.id)}">Register</a></span>
	#{/if}	
</div>
<hr/>
<div class="study-session-description-full">
	${studySession.description}
</div>
<div class="study-session-dates">
	Starts: <span class="study-session-date">${studySession.startDate}</span> - End: <span class="study-session-date">${studySession.endDate}</span>
</div>
<div class="spaced" style="font-weight: bold;">
	<a href="@{StudySessionC.forum(studySession.id)}">Discussion Forum</a>
</div>
<div style="font-size: 1.2em; font-weight: bold; margin-top: 10px;">
	Study Plan
</div>
<div>
	<ul>
		#{list items:studySession.sessionParts, as:'sessionPart'}
			<li style="margin-top: 5px; font-size: 1.1em;"><a href="@{StudySessionC.sessionPart(sessionPart.id)}">${sessionPart.title}</a> <span class="study-session-date" style="font-size: 0.6em;">${sessionPart.startDate.format('dd MMM yy')}</span> - <span class="study-session-date" style="font-size: 0.6em;">${sessionPart.endDate.format('dd MMM yy')}</span></li>
		#{/list}
	</ul>
</div>
<hr/>
<div class="spaced">
	#{if session.user && studySession.isUserEnrolled(session.username)}
		<span class="study-session-unenrollment"><a href="@{StudySessionC.deregister(studySession.id)}">Deregister</a></span>
	#{/if}
</div>