<h2>${courseGroup.title}</h2>

<table border="1">

<tr>
    <td>Sections-></td>
	#{list items:courseGroup.course.fetchSectionsByPlacement(), as:'section'}
		<td colspan=${section.activities.size()}">${section.title}</td>			
	#{/list}
</tr>

<tr>
    <td>User</td>
	#{list items:courseGroup.course.fetchSectionsByPlacement(), as:'section'}
		#{list items:section.activities, as:'activity'}
			<td>${activity.title}</td>
		#{/list}			
	#{/list}
</tr>

#{list items: courseGroup.users, as:'user'}
	<tr>
		<td>${user.screenname}</td>
		#{list items:courseGroup.course.fetchSectionsByPlacement(), as:'section'}
			#{list items:section.activities, as:'activity'}
				<td>
				#{if activity.hasResponded(String.valueOf(user.id))}
				Y
				#{/if}
				#{else}
				-
				#{/else}
				</td>
			#{/list}
		#{/list}
	</tr>
#{/list}

</table>