#{if _as == 't'}
<div>
	<a href="@{BlogPostC.show(_post.postedAt.format('yyyy'), _post.postedAt.format('MM'), _post.postedAt.format('dd'), _post.sanitizedTitle)}">${_post.title}</a>
</div>
#{/if}

#{elseif _as == 'tp' || _as == 'tpc'}
<div class="blog-title">
	${_post.title}
</div>
<div class="blog-post-content">
	${_post.content.raw()}
</div>

<div class="blog-post-tags">
	${_post.tags.join(', ')}
</div>

<div class="blog-post-author">
	By: <a href="@{UserProfileC.show(_post.author.id)}">${_post.author.screenname}</a>
</div>
#{/elseif}

#{if _as == 'tpc'}
	<div class="blog-post-comment-link">
	<div style="font-weight:bold; font-size: 1.2em; margin-bottom: 15px;">
		${_post.comments.size()} comment${_post.comments.pluralize()}
	</div>
	#{list items:_post.comments, as:'theComment'}
		<div class="blog-post-comment">
			#{comment commentObj:theComment /}
		</div>
	#{/list}
	</div>
#{/if}
#{elseif _as == 'tp'}
	<div class="blog-post-comment-link">
		<div style="font-weight:bold; font-size: 1.2em; margin-bottom: 15px;">
			<a href="@{BlogPostC.show(_post.postedAt.format('yyyy'), _post.postedAt.format('MM'), _post.postedAt.format('dd'), _post.sanitizedTitle)}">${_post.comments.size()} comment${_post.comments.pluralize()}</a>
		</div>
	</div>
#{/elseif}

