#{if _as == 't'}
<div>
	<a href="@{BlogPostC.show(_post.postedAt.format('yyyy'), _post.postedAt.format('MM'), _post.postedAt.format('dd'), _post.sanitizedTitle)}">${_post.title}</a>
</div>
#{/if}

#{elseif _as == 'tp' || _as == 'tpc'}
<div class="blog-title">
	${_post.title}
</div>
<div class="blog-post-content">
	${_post.content.raw()}
</div>

<div class="blog-post-tags">
	${_post.tags.join(', ')}
</div>

<div class="blog-post-author">
	By: <a href="@{UserProfileC.show(_post.author.id)}">${_post.author.screenname}</a>
</div>
#{/elseif}

#{if _as == 'tpc'}
	<div style="margin-top: 10px; margin-bottom: 10px;">	
	<g:plusone></g:plusone>
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
	<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	<a class="addthis_button_tweet"></a>
	<a class="addthis_counter addthis_pill_style"></a>
	</div>
	<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4de888eb11f8af43"></script>
	<!-- AddThis Button END -->
	</div>
	
	<div class="blog-post-comment-link">
	<div style="font-weight:bold; font-size: 1.2em; margin-bottom: 15px;">
		${_post.comments.size()} comment${_post.comments.pluralize()}
	</div>
	#{list items:_post.comments, as:'theComment'}
		<div class="blog-post-comment">
			#{comment commentObj:theComment /}
		</div>
	#{/list}
	</div>
#{/if}
#{elseif _as == 'tp'}
	<div class="blog-post-comment-link">
		<div style="font-weight:bold; font-size: 1.2em; margin-bottom: 15px;">
			<a href="@{BlogPostC.show(_post.postedAt.format('yyyy'), _post.postedAt.format('MM'), _post.postedAt.format('dd'), _post.sanitizedTitle)}">${_post.comments.size()} comment${_post.comments.pluralize()}</a>
		</div>
	</div>
#{/elseif}

