#{if _as == 't'}
<div>
	<a href="@{BlogPostC.show(_post.postedAt.format('yyyy'), _post.postedAt.format('MM'), _post.postedAt.format('dd'), _post.sanitizedTitle)}">${_post.title}</a>
</div>
#{/if}

#{elseif _as == 'tp'}
<div class="blog-title">
	<a href="@{BlogPostC.show(_post.postedAt.format('yyyy'), _post.postedAt.format('MM'), _post.postedAt.format('dd'), _post.sanitizedTitle)}" data-disqus-identifier="${_post.id}">${_post.title}</a>
</div>
<div class="blog-post-content">
	${_post.content.raw()}
</div>

<div class="blog-post-tags">
	${_post.tags.join(', ')}
</div>

<div class="blog-post-author">
	By: <a href="@{UserProfileC.show(_post.author.id)}">${_post.author.screenname}</a>
</div>
#{/elseif}

#{elseif _as == 'tpc'}
	<div class="blog-title">
	<a href="@{BlogPostC.show(_post.postedAt.format('yyyy'), _post.postedAt.format('MM'), _post.postedAt.format('dd'), _post.sanitizedTitle)}" >${_post.title}</a>
	</div>
	<div class="blog-post-content">
	${_post.content.raw()}
	</div>

	<div class="blog-post-tags">
	${_post.tags.join(', ')}
	</div>

	<div class="blog-post-author">
	By: <a href="@{UserProfileC.show(_post.author.id)}">${_post.author.screenname}</a>
	</div>
	
	<div style="margin-top: 10px; margin-bottom: 10px;">	
	<g:plusone></g:plusone>
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
	<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	<a class="addthis_button_tweet"></a>
	<a class="addthis_counter addthis_pill_style"></a>
	</div>
	<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4de888eb11f8af43"></script>
	<!-- AddThis Button END -->
	</div>
	
	<div class="blog-post-comment-link">
		#{comments id:_post.id /}				
	</div>
#{/elseif}


