%{
  actionDefinition = play.mvc.Router.reverse(_controllerAction, _actionArgsMap);
}%

<div class="comment-form-header">Leave a comment</div>
<div class="comment-form">
	<form action="${actionDefinition.url}" method="POST">
		<p class="comment-form-field">
			<div><label>Name <span class="required-field">(required)</span> </label></div>
			<input type="text" name="name" value="" id="name" /> <span class="error">#{error 'name' /}</span>
		</p>
		<p class="comment-form-field">
			<div><label>Email <span class="required-field">(required, but will not be displayed)</span></label></div>
			<input type="text" name="email" value="" id="email" /> <span class="error">#{error 'email' /}</span>
		</p>
		<p class="comment-form-field">
			<div><label>Website <span class="required-field"></span></label></div>
			<input type="text" name="website" value="" id="website" /> <span class="error">#{error 'website' /}</span>
		</p>
		<p class="comment-form-field">
			<div><label>Comment <span class="required-field">(required)</span></label></div>
			<textarea name="message" rows="8" cols="40" id="message"></textarea>
		</p>
		<p class="comment-form-field">
			<input type="submit" value="Submit" id="postComment" />
			<input type="reset" value="Clear" />
		</p>
	</form>
</div>