%{

actionMapping = ['forum':['CourseC.forum', 'CourseC.forumQuestion', 'CourseSecureC.postQuestion', 'CourseSecureC.postAnswer'],
				 'participants':['CourseC.participants'],
				 'pastebin':['CourseSecureC.pastebin', 'CourseSecureC.codeSnippet']]
		   

validActions = actionMapping.get(_menu);

validControllers = ['CourseC', 'CourseSecureC']

allValidActionsList = [];
actionMapping.each {key, value ->
	value.each {
		allValidActionsList << it;
	}
}

controller = request.controller;
action = request.action;
}%

#{if _menu == 'home' && !allValidActionsList?.contains(action)}
submenu-item-selected
#{/if}
#{else}
	#{if validActions?.contains(action)}
submenu-item-selected
	#{/if}
#{/else}