#{if (_protected && _user) || !_protected}
<div class="wmd-panel">
	<div style="font-weight: bold; margin-bottom: 15px;">Provide an answer to this question.</div>
	<div style="font-style: italic;">This editor supports the markdown format. Please visit <a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">this page</a>, If you are not familiar with Markdown.</div>
    <div id="wmd-button-bar"></div>
    #{if _answer}
    	<div>Please edit your answer</div>
    	#{form @CourseSecureC.postEditAnswer(_course.id, _course.forum.id, _question.id, _answer.id)}
			#{ifErrors}
				<p class="error">Please correct these errors.</p>
			#{/ifErrors}
			
			#{field 'editNote'}
				<p>
					<div style="font-weight: bold;">Edit Note:</div>
					<div><input type="text" name="note" value="${flash['note']}" size="80" /></div>
				</p>
			#{/field}
			
			#{field 'answerContent'}
				<p>
					<div>
						#{ifError 'answerContent'}<span class="error">#{error 'answerContent' /}</span>#{/ifError}
					</div>
					<div>
						<textarea class="wmd-input" id="wmd-input" name="${field.name}">${_answer.getLatestRevision()}</textarea>
					</div>
				</p>
				<p>
					<input type="submit" name="submmit" value="Submit" />
				</p>
			#{/field}
		#{/form}
    #{/if}
    #{else}
	#{form @CourseSecureC.postAnswer(_course.id, _course.forum.id, _question.id)}
		#{ifErrors}
			<p class="error">Please correct these errors.</p>
		#{/ifErrors}
		
		#{field 'answerContent'}
			<p>
				<div>
					#{ifError 'answerContent'}<span class="error">#{error 'answerContent' /}</span>#{/ifError}
				</div>
				<div>
					<textarea class="wmd-input" id="wmd-input" name="${field.name}">${flash['answerContent']}</textarea>
				</div>
			</p>
			<p>
				<input type="submit" name="submmit" value="Submit" />
			</p>
		#{/field}
	#{/form}
	#{/else}
</div>
				
<div id="wmd-preview" class="wmd-panel wmd-preview"></div>
<script type="text/javascript">
	(function () {
		var help = function () { alert("For help using markdown, please visit http://daringfireball.net/projects/markdown/syntax"); }
	    var converter1 = Markdown.getSanitizingConverter();
	    var editor1 = new Markdown.Editor(converter1, "", { handler: help });
	    editor1.run();
	    
	})();
</script>		
#{/if}
#{else}
	Please <a href="@{Secure.login}">login</a> to post an answer.
#{/else}
