<div class="pager fr">
%{
     
    if(_action_params == null) {
        _action_params = [:];
    }
    
	1.upto(_pages) {
		_action_params.put('page', it);
    	_action_params.put('size',_size);
		actionDefinition = play.mvc.Router.reverse(_controllerAction, _action_params);
		if(it == _page) {
			out.println("<span class=\"page-numbers current\">${it}</span>");
		} else {
			out.print("<a href=\"${actionDefinition.url}\" title=\"go to page ${it}\"><span class=\"page-numbers\">${it}</span></a>");
		}
	}
%}
</div>
