#{if _course}
	<div style="font-weight: bold; margin-bottom: 10px;">
		<a href="@{FeedC.course(_course.id)}"><img height="20" width="20" src="/public/images/blog_feed_logo.jpg"/></a>  Study Group Updates
	</div>

	<ul style="list-style:none; line-height:130%">	
	#{list items:_course.getUpdates(), as:'event'}
		<li style="border-top: 1px solid #CCC; padding: 4px;">
			<span class="study-session-activity">${event.render().raw()} ... ${event.timestamp.since(true)}</span> 
		</li>
	#{/list}
	</ul>
#{/ if}
