
%{
  questionLink = play.mvc.Router.reverse(_controllerAction, _actionArgsMap);
}%

#{if _as == 't'}
<div class="question-t">
    <a href="${questionLink.url}">${_question.title}</a>
	<div class="question-stats">
		<span class="question-likes">${_question.likes()} like${_question.likes().pluralize()}</span>
		<span class="question-answer-count">${_question.answers.size()} answer${_question.answers.size().pluralize()}</span>		
	    <span class="question-time">asked on ${_question.askedAt.format('dd MMM yy, hh:mm')}</span>
		<span class="question-author">by ${_question.author.name}</span>
	</div>
	<div class="question-tags">
		#{list items:_question.tags, as:'tag'}
			<span>${tag.name}&nbsp;&nbsp;</span>
		#{/list}
	</div>
</div>
#{/if}
#{elseif _as == "tba"}
	<div>
		<div class="question-tba-title">
			<a href="#" id="upvote">Like</a><span id="votes">${_question.likes()}</span> 
			${_question.title}
		</div>
		<div class="question-content">
			${_question.content.nl2br()}
		</div>
		<div class="question-stats">
			<span class="qa-author">Posted By: ${_question.author.name}</span>
	    	<span class="qa-time">on ${_question.askedAt.format('dd MMM yy, hh:mm')}</span>			
		</div>
		<div class="question-tags">
			Tags: 
			#{list items:_question.tags, as:'tag'}
				<span>${tag.name}&nbsp;&nbsp;</span>
			#{/list}
		</div>
		<div class="answers">
			#{list items:_question.answers, as:'theAnswer'}
				<div><a href="#" id="upvote-answer-${theAnswer.id}">Like</a> <span id="answer-votes-${theAnswer.id}">${theAnswer.likes()}</span> likes</div>
				<div class="answer-content">
					${theAnswer.content.nl2br()}
				</div>
				<div class="answer-stats">
					<span class="qa-author">Posted By: ${theAnswer.author.name}</span>
	    			<span class="qa-time">on ${theAnswer.answeredAt.format('dd MMM yy, hh:mm')}</span>
				</div>
				<script type="text/javascript">
					$('#upvote-answer-${theAnswer.id}').click(function(e) {
						// stop normal link click
					    e.preventDefault();
					    $.get("/questionc/like/answerId/${theAnswer.id}", function(voteCount) {
					    	$('#answer-votes-${theAnswer.id}').html(voteCount);
					    });
					});		
				</script>
			#{/list}
		</div>
	</div>
#{/elseif}

<script type="text/javascript">
    //TODO: Figure out why document.ready is being invoked 2 times
	var documentReady = false;
	$(document).ready(function() {
		if(documentReady) {
			return;
		}
		$('#upvote').click(function(e) {
			// stop normal link click
		    e.preventDefault();
		    $.get("/questionc/like/questionId/${_question.id}", function(voteCount) {
		    	$('#votes').html(voteCount);
		    });
		});
		documentReady = true;
	});
</script>