
%{
  questionLink = play.mvc.Router.reverse(_controllerAction, _actionArgsMap);
}%

#{if _as == 't'}
<div class="question-t">
    <a href="${questionLink.url}">${_question.title}</a>
	<div class="question-stats">
	    <span class="question-time">${_question.askedAt.format('dd MMM yy, hh:mm')}</span>
		<span class="question-author">${_question.author.name}</span>
	</div>
	<div class="question-tags">
		#{list items:_question.tags, as:'tag'}
			<span>${tag.name}&nbsp;&nbsp;</span>
		#{/list}
	</div>
</div>
#{/if}
#{elseif _as == "tba"}
	<div>
		<div class="question-tba-title">
			${_question.title}
		</div>
		<div class="question-content">
			${_question.content.nl2br()}
		</div>
		<div class="question-stats">
			<span class="qa-author">Posted By: ${_question.author.name}</span>
	    	<span class="qa-time">on ${_question.askedAt.format('dd MMM yy, hh:mm')}</span>			
		</div>
		<div class="question-tags">
			Tags: 
			#{list items:_question.tags, as:'tag'}
				<span>${tag.name}&nbsp;&nbsp;</span>
			#{/list}
		</div>
		<div class="answers">
			#{list items:_question.answers, as:'theAnswer'}
				<div class="answer-content">
					${theAnswer.content.nl2br()}
				</div>
				<div class="answer-stats">
					<span class="qa-author">Posted By: ${theAnswer.author.name}</span>
	    			<span class="qa-time">on ${theAnswer.answeredAt.format('dd MMM yy, hh:mm')}</span>
				</div>
			#{/list}
		</div>
	</div>
#{/elseif}