*{ 
    Displays a form containing all the fields for a Question
    @param controllerAction
        A String which specifies the controller and action to be invoked when 
        the form is submitted. An example would be 'Application.askQuestion'
    @param actionArgsMap 
        A map containing all the arguments which are to be passed to the action 
        when it is invoked. These args must match the arguments that the actual 
        action method requires. The keys in the map must be the name of the 
        argument and the value must be the value. 
        For example if the definition of the action is thus:
        askQuestion(long forumId, long questionId)
        hen the actionArgsMap might be defined thus:
        ['forumId':0, 'questionId':0]
 }*

%{
  actionDefinition = play.mvc.Router.reverse(_controllerAction, _actionArgsMap);
}%
  
<form action="${actionDefinition.url}" method="POST">				
<p>
    <div><label>Title <span class="required-field">(required)</span></label></div>
	<input type="text" name="title" value="" id="title" size="80"/> <span class="error">#{error 'title' /}</span>
</p>
<p>
    <div><label>Question <span class="required-field">(required)</span></label></div>
    <textarea class="simple" name="content" rows="10" cols="80" id="question-content"></textarea>
</p>
<p>
    <div><label>Tags <span class="required-field">(you can specify multiple tags, separated with commas)</span></label></div>
    <input type="text" name="tags" value="" id="tags" /> <span class="error">#{error 'tags' /}</span>
</p>
<p>
    <input type="submit" value="Submit" id="postComment" />
    <input type="reset" value="Clear" />
</p>	
</form>>		
<SCRIPT>
	var init_obj = {element_id:'question-content', window: window};
	$.extend(true, init_obj, config_tinymce_adv);
	tinyMCE.execCommand('mceAddFrameControl',false, init_obj);
</SCRIPT>