%{
controllerMapping = ['courses':['CourseC', 'CoursesSecureC'],
					 'admin':['AdminC'],
					 'help':['HelpC'],
			         'home':['PageC'],
			         'users':['UserProfileC'],
			         'blog':['BlogPostC'],
			         'messages':['MessageCenterC']]

allValidControllersList = [];
controllerMapping.each {key, value ->
	value.each {
		allValidControllersList << it;
	}
}

validControllerList = controllerMapping.get(_menu);
controller = request.controller;
}%



#{if _menu == 'home' && !allValidControllersList?.contains(controller)}
current_page_item
#{/if}
#{else}
	#{if validControllerList?.contains(controller)}
current_page_item
	#{/ if}
#{/else}