<div class="tabbed-panel">
	<ul id="tabMenu">
	%{
	    tabCount = 0;
		for(tabId in _tabIds) {
		    tabName = _tabNames[tabCount++];
	%}
		<li id="${tabId}-tab" class=""><a href="#" id="${tabId}-tab-link">${tabName}</a></li>    
	%{	       
		}
	}%
	</ul>
</div>
	
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
	   hideAndUnselectAllTabs();
	   $('#${_show}').show();
	   $('#${_show}-tab').addClass('selected');
	 });
	
	%{
		for(tabId1 in _tabIds) {
	%}
		$('#${tabId1}-tab-link').click(function(event) {
			hideAndUnselectAllTabs();
			$('#${tabId1}').show();
			$('#${tabId1}-tab').addClass('selected');
		});
	%{	       
		}
	}%
		
	function hideAndUnselectAllTabs() {
		
		%{
			for(tabId in _tabIds) {
		%}
			$('#${tabId}').hide();
			$('#${tabId}-tab').removeClass('selected');
		%{	       
			}
		}%
	}

</script>
