#{extends 'CompetenciesC/competencyTopicMain.html' /}

%{ route = play.mvc.Router.reverse('CompetenciesC.topics') }%
									
#{set backLink:route /}

<div>
	<div>
		${topic.description}
	</div>
</div>
<table class="table table-bordered table-striped responsive-utilities">
<thead>
	<tr>
		<th>&nbsp;</th>
		#{list items:topic.levels, as:'level'}
			<th>${level.title}</th>	
		#{/list}
	</tr>
</thead>
<tbody>
	#{list items:topic.competencyGroups, as:'competencyGroup'}
		<tr>
			<th>${competencyGroup.title}</th>
			#{list items:topic.levels, as:'level'}
				<td>
					#{if competencyGroup.fetchCompetenciesForLevel(level)}
						<table class="table table-bordered table-striped responsive-utilities">
							<tbody>							
									#{list items:competencyGroup.fetchCompetenciesForLevel(level), as:'competency'}
										<tr><td><a href="@{CompetenciesC.competency(topic.sanitizedTitle, competency.sanitizedTitle)}">${competency.title}</a></td></tr>
									#{/list}							
							</tbody>
						</table>
					#{/if}
				</td>	
			#{/list}
		</tr>
	#{/list}	
</tbody>
</table>