#{extends 'CompetenciesC/competenciesMain.html' /}
%{competencyDisplayTitle = "List of Topics"}%
#{set competencyTitle:competencyDisplayTitle /}

<div style="margin-left: 5px; margin-bottom: 10px;">
	<span style="padding-bottom: 4px; font-family: Comic Sans, Comic Sans MS; font-size: 1.4em; font-weight: bold; color: green;"> Competencies to help you determine, if you know what you need to know !</span>
</div>

#{list items:topics, as:'topic'}
	
	<div class="post-box"></div>
	
	<div class="comentwrap">
	 <div class="grid">
	 	<a href="@{CompetenciesC.topic(topic.sanitizedTitle)}">
	 		<img src="" border="0" width="40" height="40" />
	 	</a>
	 </div>
	 <div class="comentwrappost-title"> 
	 	<a href="@{CompetenciesC.topic(topic.sanitizedTitle)}">${topic.title}</a>
	 </div>
	 
	 <div class="comentwrappost-datetime"> </div>
	 <div class="comentwrappost-course"> 
	  </div>
	 
	 <div align="center" class="pepcomentwrap">
	 <div class="pep"><img src="/public/images/people.png" border="0" width="20" height="17" /></div>
	 <div class="peptext">10</div>
	 </div>
	
	</div>		
	
	
#{/list}