#{extends 'BlogPostC/blogMain.html' /}

#{form @save()}
	#{ifErrors}
		<p class="error">Please correct these errors.</p>
	#{/ifErrors}
	
	#{field 'title'}
		<div>
			<div><label>Title</label></div>
			<input type="text" name="${field.name}" value="${blogPost?.title}" 
												class="${field.errorClass}"/>
		</div>
	#{/field}
	
	#{field 'content'}
		<div>
			<div><label>Content</label></div>
			<textarea rows="20" cols="80" name="${field.name}"  id="blog-post-content" 
												class="${field.errorClass}">${blogPost?.content}</textarea>
		</div>
	#{/field}
	
	#{field 'tags'}
		<div>
		<div><label>Tags</label></div>
		<input type="text" name="${field.name}" value="${blogPost?.tags?.join(', ')}" 
												class="${field.errorClass}"/>
		</div>
	#{/field}
	<div>
		<input type="submit" name="submit" value="Submit" />
		<input type="reset" name="reset" value="Reset" />
	</div>
#{/form}
<SCRIPT>
	var init_obj = {element_id:'blog-post-content', window: window};
	$.extend(true, init_obj, config_tinymce_full);
	tinyMCE.execCommand('mceAddFrameControl',false, init_obj);
</SCRIPT>