#{extends 'CourseC/courseMain.html' /}

<h2 class="course-title">${course.title}</h2>

#{courseEnrollment course:course /}

<div class="course-description">
	${course.description.raw()}
</div>
<div class="course-sections">

<div class="course-sections-title">This course contains the following sections</div>

#{list items:courseSections, as:'section'}
	
	<div class="course-section-link">
		<a href="@{CourseC.section(course.sanitizedTitle, section.sanitizedTitle)}">${section.title}</a>
	</div>
	
#{/list}

</div>