#{extends 'CourseC/courseMain.html' /}

<h2 class="course-title">${course.title}</h2>

#{courseEnrollment course:course /}

<div class="course-description">
	${course.description.raw()}
</div>
<div class="course-sections">

<div class="course-sections-title">This course contains the following sections</div>

#{list items:courseSections, as:'section'}
	
	<div class="course-section-link">
		<a href="@{CourseC.section(course.sanitizedTitle, section.sanitizedTitle)}">${section.title}</a>
	</div>
	
#{/list}

</div>

#{if course?.activities.size() > 0}
<div>
	<div style="margin-bottom: 16px;">
		<div style="font-size: 1.6em; background: #99b888; width:100%; padding:4px; color: white;">Activities</div>
		<div class="vspacediv">This course has the following activities. Please complete them and submit links to your work. A good place to publish your activities is your blog, website, some wiki, or any publicly accessible page on the Internet.</div>
		<div class="vspacediv"><a href="@{CourseC.activityResponses(course.sanitizedTitle)}"><h4>View all activity responses</h4></a></div>
	</div>
	<div class="activewrapcontaint">
	#{list items:course.activities, as:'activity'}
		<div class="activewrap">
			<div class="standard-div">
				<h4><img src="/public/images/applications-development.png"/> Activity ${activity_index} : ${activity.title}</h4>
				${activity.content.raw()}
			</div>
			<div class="bdr" style="margin-bottom: 10px; padding-bottom: 10px;">
				#{if !session.user}
					<div style="margin-top: 10px; margin-bottom: 10px;">
						<strong>If you are enrolled in this course, then please login to submit your response to this activity</strong>
					</div>
				#{/if}
				#{elseif session.user && !course.isSocialUserEnrolled(session.user)}
					<div style="margin-top: 10px; margin-bottom: 10px;">
						<strong>You cannot submit your response to this activity since you are not participating in this course, but you are welcome to audit this course, and do the activities on your own ...</strong>
					</div>
				#{/elseif}
				#{if session.user && course.isSocialUserEnrolled(session.user)}
					<div style="margin: 15px; font-style: italic">
						<span style="font-weight: bold;">Submit your response to this activity (link to a blog post, etc)</span>
						<form action="/" id="activity-response-${activity_index}">					
							<div>Title (optional) Do you want to provide an explanatory title for your activity submission ?</div>
							<input type="text" name="activityResponseTitle" />
							<div>Link (required) An Internet link to your work</div>
							<input type="text" name="activityResponse" />
							<div style="margin-top: 4px;">
								<input type="submit" name="submit" value="Submit"/>
							</div>
							<span id="activity-response-count-${activity_index}">${activity.activityResponses.size()}</span> total responses.
						</form>
					</div>
					<script type="text/javascript">
						$('#activity-response-${activity_index}').submit(function(e) {
							// stop normal link click 
							e.preventDefault();
							var $form = $(this);
							var ar = $form.find('input[name="activityResponse"]').val();
							var art =  $form.find('input[name="activityResponseTitle"]').val();
							$.post("/course/activityresponse/${activity.id}", {activityResponse:ar, title:art}, function(response) {
								$('#activity-response-count-${activity_index}').html('<span style=\"color:green; font-weight: bold\">Thank You</span> ' + response);
								$form.find('input[name="activityResponse"]').val("");
								$form.find('input[name="activityResponseTitle"]').val("");
							});
						});		
					</script>
				#{/if}
			</div>
		</div>
	#{/list}
	</div>
</div>
#{/if}

#{secure.check 'admin'}
<h2>Course Groups </h2>
<div>
#{list items:courseGroups, as:'courseGroup'}
	<div><a target="_blank" href="@{CourseSecureC.group(course.sanitizedTitle, courseGroup.sanitizedTitle)}">${courseGroup.title}</a></div>
#{/list}
#{/secure.check}

</div>