#{extends 'CourseC/courseMain.html' /}
#{set noUpdates:true /}

<div>
	#{list items:questions, as:'forumQuestion'}
		<div>
			#{question question:forumQuestion,
			           course:course,
	           		   as:'t',
			           controllerAction:'CourseC.forumQuestion',
			           actionArgsMap:['sanitizedTitle':course.sanitizedTitle, 'questionId':forumQuestion.id] /}
		</div>
	#{/list}	
</div>
<div id="question-form" class="section-question-form">
		#{if session.user}
			#{markdownQuestionForm course:course /}
		#{/ if}
		#{else}
			Please <a href="@{Secure.login}">login</a> to post questions.			
		#{/else}
		
</div>


%{
actionParams = [sanitizedTitle:course.sanitizedTitle]
}%
#{paginate controllerAction:'CourseC.forum', size:size, page:page, pages:pages,  action_params:actionParams /}
