#{extends 'main.html' /}

<div class="courses">

<div style="margin-left: 5px;">
<a style="font-size: 1.3em; font-weight: bold; color: green;" href="/page/diy-course-how-it-works">HOW IT WORKS</a>
</div>

#{list items:courses, as:'course'}
	<div class="post-box">
	
	</div>

	<div class="comentwrap">
	 <div class="grid">
	 	<a href="@{CourseC.course(course.id)}">
	 		<img src="@{CourseC.pic(course.id)}" border="0" width="40" height="40" />
	 	</a>
	 </div>
	 <div class="comentwrappost-title"> 
	 	<a href="@{CourseC.course(course.id)}">${course.title}</a>
	 </div>
	 
	 <div class="comentwrappost-datetime"> </div>
	 <div class="comentwrappost-course"> 
	  </div>
	 
	 <div align="center" class="pepcomentwrap">
	 <div class="pep"><img src="/public/images/people.png" border="0" width="20" height="17" /></div>
	 <div class="peptext">${course.getEnrolledUsersCount()}</div>
	 </div>
	
	</div>
	
		
#{/list}
</ul>
</div>