#{extends 'CourseC/courseMain.html' /}
#{set course:courseSection.course /}

<h4> Responses received for various activities in ${courseSection.course.title} : <a href="@{CourseC.section(courseSection.course.sanitizedTitle, courseSection.sanitizedTitle)}">${courseSection.title}</a></h4>
#{list items:courseSection.activities, as:'activity'}
	<a name="${activity.id}">
		<h4 style="margin-top:15px; margin-bottom:15px">Activity ${activity_index} : ${activity.title}</h4>
	</a>
	#{list items:activity.activityResponses, as:'activityResponse'}
		<div style="margin: 5px;">
			${activityResponse.timestamp?.since(true)} <a href="@{UserProfileC.show(activityResponse.user.id)}">${activityResponse.user.screenname}</a> submitted <a href="${activityResponse.responseLink}" target='_blank'>${activityResponse.title ? activityResponse.title : activityResponse.responseLink}</a>
		</div>
	#{/list}
#{/list}