#{extends 'CourseC/courseMain.html' /}
#{set course:courseSection.course /}

<h4> Responses received for various activities in ${courseSection.course.title} : <a href="@{CourseC.section(courseSection.course.sanitizedTitle, courseSection.sanitizedTitle)}">${courseSection.title}</a></h4>
#{list items:courseSection.activities, as:'activity'}
	<a name="${activity.id}">
		<h4 style="margin-top:15px; margin-bottom:15px">Activity ${activity_index} : ${activity.title}</h4>
	</a>
	#{list items:activity.activityResponses, as:'activityResponse'}
		<div>
			<span><a href="@{CourseC.sectionActivityResponseReview(course.sanitizedTitle, courseSection.sanitizedTitle, activityResponse.id)}"><img src="/public/images/review.jpg" alt="Review" title="Review this activity response"/> </a></span>
			<a href="@{UserProfileC.show(activityResponse.user.id)}">${activityResponse.user.screenname}</a> submitted <a href="${activityResponse.responseLink}" target='_blank'>${activityResponse.title ? activityResponse.title : activityResponse.responseLink}</a> ${activityResponse.timestamp?.since(true)}
		</div>				
	#{/list}
#{/list}
