#{extends 'main.html' /}
%{
	flash.put("url", request.method == "GET" ? request.url : "/");
}%
<h3 class="course-section-title"><a href="@{CourseC.course(courseSection.course.id)}">${courseSection.course.title}</a> : ${courseSection.title}</h3>
<div class="course-description">
	${courseSection.content.nl2br()}
</div>
<hr/>

#{if question}
	#{tabbedPane show:'selected-question', tabIds:tabIds, tabNames:tabNames /}
#{/if}
#{elseif comments}
	#{tabbedPane show:'comments', tabIds:tabIds, tabNames:tabNames /}
#{/elseif}
#{else}
	#{tabbedPane show:'questions', tabIds:tabIds, tabNames:tabNames /}
#{/else}
	
<div id="questions" class="section-questions">
	#{list items:courseSection.questions, as:'question'}
		#{question question:question,
	           	   as:'t',
			       controllerAction:'CourseC.question',
			   	   actionArgsMap:['sectionId':courseSection.id, 'questionId':question.id] /}

	#{/list}
	<div class="section-question-form">
		#{if session.user}
			#{questionForm controllerAction:'CourseC.addQuestion', 
						   actionArgsMap:['sectionId':courseSection.id] /}
				
		#{/if}
		#{else}
			Please <a href="@{Secure.login}">login</a> to post questions.
		#{/else}
	</div>
</div>

<div id="selected-question" class="selected-question">
	#{if question}
		<div>
			#{question question:question,
	           	   	   as:'tba',
			           controllerAction:'CourseC.question',
			   	       actionArgsMap:['sectionId':courseSection.id, 'questionId':question.id] /}
		</div>
		<div id="answer-form" class="section-question-form">
			#{answerForm protected:true,
				         user:session.user,
						 controllerAction:'CourseC.postAnswer',
						 actionArgsMap:['sectionId':courseSection.id, questionId:question.id] /}		
	    </div>
	#{/if}
</div>

<div id="comments" class="comments">
#{list items:courseSection.comments, as:'comment'}
	<div class="comment">
		<div class="comment-content">
			${comment.content}
		</div>
		<div class="comment-at-by">
			<span>Posted on: </span><span>${comment.time.format('dd MMM yy')}</span>
			<span>By: </span>
			#{if comment.website}
				<a href="${comment.website}">${comment.author}</a>
			#{/if}
			#{else}
				${comment.author}
			#{/else}
		</div>
	</div>
#{/list}
<div class="comment-form-header">Leave a comment or ask a question</div>
<div class="comment-form">
	#{form @CourseC.comment(courseSection.id)}
		<p>
			<div><label>Name <span class="required-field">(required)</span> </label></div>
			<input type="text" name="name" value="" id="name" /> <span class="error">#{error 'name' /}</span>
		</p>
		<p>
			<div><label>Email <span class="required-field">(required, but will not be displayed)</span></label></div>
			<input type="text" name="email" value="" id="email" /> <span class="error">#{error 'email' /}</span>
		</p>
		<p>
			<div><label>Website <span class="required-field"></span></label></div>
			<input type="text" name="website" value="" id="website" /> <span class="error">#{error 'website' /}</span>
		</p>
		<p>
			<div><label>Comment <span class="required-field">(required)</span></label></div>
			<textarea name="message" rows="8" cols="40" id="message"></textarea>
		</p>
		<p>
			<input type="submit" value="Submit" id="postComment" />
			<input type="reset" value="Clear" />
		</p>
	#{/form}
</div>
</div>