<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        #{script src:"jquery-1.4.2.min.js" /}
        #{script src:"jquery.tools.min.js" /}
        #{script src:"tinymce3.4.1/tiny_mce.js" /}
        
        <script type="text/javascript">
        	var config_tinymce_adv = {
        	    mode: 'exact',
        	    theme: "advanced",
        	    theme_advanced_buttons1 : "bold,italic,underline,|,justifyleft,justifycenter,justifyright,|,bullist,numlist,|,outdent,indent,|,link,unlink,|,spellchecker,advhr,,|,sub,sup,|,charmap",
                theme_advanced_buttons2 : "",
                theme_advanced_buttons3 : "",                      
                theme_advanced_toolbar_location : "top",
                theme_advanced_toolbar_align : "left",
                theme_advanced_statusbar_location : "bottom",
                theme_advanced_resizing : true 
        	};
        	
        	var config_tinymce_full = {
        		mode: 'exact',
        		theme: "advanced"
        	}
        	
        	var config_tinymce_sim = {
        	    mode: 'exact',
        	    theme: "simple",
        	}; 
        </script>
        
        
    </head>
    <body>
		
			<div id="header">
			<h1>
				<a href="#">DIY Computer Science</a>
			</h1>

			<div id="navigation">
				<ul id="nav" class="menu">
					<li id="menu-item-95"
						class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-95 #{selectedStyle menu:'home' /}">
						<a href="@{Application.index}">Home</a>
					</li>
					<li id="menu-item-90"
						class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90 #{selectedStyle menu:'courses' /}">
						<a href="@{CourseC.list}">DIY Courses</a>
					</li>
					<li id="menu-item-92"
						class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90 #{selectedStyle menu:'book_groups' /}">
						<a href="@{BookGroupC.list(0,25)}">Book Groups</a>
					</li>
					<li id="#"
						class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94 #{selectedStyle menu:'study_groups' /}">
						<a href="@{StudySessionC.currentlist}">Study Groups</a>
					</li>
					<li id="menu-item-180"
						class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180 #{selectedStyle menu:'users' /}">
						<a href="@{UserProfileC.list(1,25)}">Users</a>
					</li>
					<li id="menu-item-180"
						class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180 #{selectedStyle menu:'blog' /}">
						<a href="@{BlogPostC.list}">Blog</a>
					</li>
				</ul>
			</div> <!-- navigation end -->
			</div> <!-- header end -->
			
			<div id="container">
			<div id="content">
			<div class="padder">
				<div>
					#{if flash?.error}
						<div class="error">&{flash.error}</div>
					#{/if}
					
					#{if flash?.success}
						<div class="success">&{flash.success}</div>
					#{/if}
				</div>	
		       	#{doLayout /}
			</div> <!-- end padder -->
			</div> <!-- end content -->
			<div  id="sidebar"> <!-- Sidebar -->
					 <div style="margin-bottom: 10px;">#{socialButtons /}</div>
					 <div style="margin-bottom: 10px;">
					 	#{sidebarWidgets /}
					 </div>					 
					 <div style="font-size: 1.4em; margin-bottom: 10px;">Recent blog posts</div>
					 <div class="community-activity">
					 %{java.util.List<models.BlogPost> blogPosts = models.BlogPost.tail(5); %}
					 #{list items:blogPosts, as:'blogPost'}
					 	<div class="site-event">#{blogPost as:'t', post:blogPost /}</div>
					 #{/list}
					 </div>								 
			</div> <!-- End sidebar -->
			
			</div> <!-- end container -->
			<div style="clear: both;"></div>
			<div id="footer">
				<div class="site">
					<div class="info">
          			<div class="links">
					<p>
						<a href="@{PageC.show('faq')}">faq</a> | <a href="@{PageC.show('tos')}">terms of use</a> | <a href="@{PageC.show('pp')}">privacy policy</a> | <a href="@{PageC.show('contact')}">Contact</a>  
					</p>
					<p>
						<div style="margin-bottom: 5px;"><img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"/></div>
						<div style="margin-bottom: 25px;">Except where otherwise noted, all content on diycomputerscience.com is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License.</a></div>
					</p>
					</div>
					</div>
				</div>
			</div> <!-- footer end -->
		
		
	
	<!--Start Admin Bar -->
	<div id="wpadminbar" class="no-grav">
		<div class="quicklinks">
			<ul>
				#{ifnot session.user}
					<li class="">
					<a href="@{Secure.login}">Login</a>
					</li>					
				#{/ifnot}
				#{else}
					<li class="">
						<a href="@{Secure.logout}">Logout</a>
					</li>
				#{/else}
				#{secure.check 'admin'}
					<li class="">
						<a href="@{AdminC.index}">Admin</a>
					</li>
				#{/secure.check}

				<li class="">
					<a href="@{PageC.show('help')}">Help</a>
				</li>

				<li class="">
					<a href="@{Application.feedback}">Feedback</a>
				</li>
				
				<li class="">
					#{if session.user}  
						<a class="connected-user" href="@{UserProfileC.show(session.user)}">Welcome ${screenname}</a> 
					#{/if}
				</li>

			</ul>
 		</div>

		<div id="adminbarsearch-wrap">
			<form id="adminbarsearch" method="get" action="#">
				<input id="adminbar-search" class="adminbar-input" type="text" maxlength="150" value="under construction" name="s">
				<input class="adminbar-button" type="submit" value="Search">
			</form>
		</div>
	</div>
	<!--End Admin Bar -->
	<!-- TODO: The list of scripts to load should come from the database -->	
    #{keyValueData k:'google.analytics' /}
    <script type=”text/javascript” src=”http://apis.google.com/js/plusone.js”></script>
    #{get 'blog_related_scripts' /}
    </body>
</html>