<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        #{script src:"jquery-1.4.2.min.js" /}
        #{script src:"jquery.tools.min.js" /}
    </head>
    <body>
	
		<div id="main">
	
			<div id="header">
				#{if user}
					<p>
						Welcome <span class="connectedUser">${user}</span>
						(<a href="@{Secure.logout}">Logout</a>)
					</p>
				#{/if}
				#{else}
					<p>					  
						Still not a member ? <a href="@{Application.signup}">Signup</a>.
						Or if you already have an account, just <a href="@{Secure.login}">Login</a>.
					</p>
				#{/else}
		
				<ul id="menu">
					#{secure.check 'admin'}
					<li><a href="/admin">Admin</a></li>
					#{/secure.check}  
					<li><a href="@{Application.index}">Home</a></li>
					<li><a href="@{CourseC.list}">DIY Courses</a></li>
					<li><a href="@{StudySessionC.currentlist}">Study Groups</a></li>
					<li><a href="@{UserProfileC.list}">Users</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="@{Application.feedback}">Feedback</a></li>
				</ul>
			</div>
			
			<div id="content">
				#{if flash?.error}
					<div class="error">${flash.error}</div>
				#{/if}
				
				#{if flash?.success}
					<div class="success">${flash.success}</div>
				#{/if}
				
	       		#{doLayout /}
			</div>
			
			<div id="footer">
				<p>
					<a href="@{PageC.show('faq')}">faq</a> | <a href="@{PageC.show('tos')}">terms of use</a> | <a href="@{PageC.show('pp')}">privacy policy</a> 
				</p>
			</div>
		
		</div>
		
    </body>
</html>