<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        #{script src:"jquery-1.4.2.min.js" /}
        #{script src:"jquery.tools.min.js" /}
        #{script src:"tinymce3.4.1/tiny_mce.js" /}
        
        <script type="text/javascript">
        	tinyMCE.init({
        		mode : "textareas",
        		theme : "advanced"
        	}); 
        </script>
    </head>
    <body>
		<div id="main">
			<div id="header">
				<img src="/public/images/diycomputerscience_logo.jpg" />
				#{if session.user}
					
						Welcome <span class="connectedUser"><a href="@{UserProfileC.show(session.user)}">${screenname}</a></span>
						(<a href="@{Secure.logout}">Logout</a>)
					
				#{/if}
				
		
				<ul id="menu">
					#{ifnot session.user}
						<li><a href="@{Secure.login}">Login</a></li>					
					#{/ifnot}
					#{secure.check 'admin'}
					<li><a href="@{AdminC.index}">Admin</a></li>
					#{/secure.check}  
					<li><a href="@{Application.index}">Home</a></li>
					<li><a href="@{CourseC.list}">DIY Courses</a></li>
					<li><a href="@{StudySessionC.currentlist}">Study Groups</a></li>
					<li><a href="@{UserProfileC.list}">Users</a></li>
					<li><a href="@{BlogPostC.list}">Blog</a></li>
					<li><a href="@{PageC.show('help')}">Help</a></li>
					<li><a href="@{Application.feedback}">Feedback</a></li>						
				</ul>
			</div>
			<div style="width: 1324px;">
				<div id="content" style="width: 70%; float: left;">
					#{if flash?.error}
						<div class="error">&{flash.error}</div>
					#{/if}
					
					#{if flash?.success}
						<div class="success">&{flash.success}</div>
					#{/if}
					
		       		#{doLayout /}
				</div>
				<div  style="width: 20%; float: left; margin-top: 20px; color:white;">
					 <div style="font-size: 1.4em; margin-bottom: 10px;">Recent blog posts</div>
					 <div style="font-size: 1.4em; margin-bottom: 10px;">Community activity</div>
				</div>
			</div>
			<div style="clear: both;"></div>
			<div id="footer">
				<p>
					<a href="@{PageC.show('faq')}">faq</a> | <a href="@{PageC.show('tos')}">terms of use</a> | <a href="@{PageC.show('pp')}">privacy policy</a> | <a href="@{PageC.show('contact')}">Contact</a>  
				</p>
				<p>
					<div style="margin-bottom: 5px;"><img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"/></div>
					<div style="margin-bottom: 25px;">Except where otherwise noted, all content on p2pu.org is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License.</a></div>
				</p>
			</div>
		
		</div>
	

    </body>
</html>