<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>|| DIY Computer Science ||</title>
<link rel="stylesheet" type="text/css" href="css/default.css" />
<link rel="stylesheet" type="text/css" href="css/admin-bar.css" />
</head>

<body>
<!--Start Header -->
<div id="header">
<h1><a href="#">DIY Computer Science</a></h1>

<div id="navigation">
<ul id="nav" class="menu">

<li id="menu-item-95" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-95">
<a href="#">Home</a></li>
<li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90">
<a href="#">DIY Course</a></li>
<li id="#" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94">
<a href="#">Study Groups</a></li>
<li id="menu-item-180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180">
<a href="#">User</a></li>
<li id="menu-item-180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180">
<a href="#">Blog</a></li>
<li id="#" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94">
<a href="#">Challenges</a></li>
<li id="menu-item-180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180">
<a href="#">E-Store</a></li>
</ul>
</div>
</div>

<!--End Header -->
<!--Start Container -->

<div id="container">
<div id="content">
<div class="padder">
<p>This is an online, peer based, social learning community for everyone interested in 
learning Computer Science or related topics.

We support multiple learning styles.You can select one of our DIY courses, and learn at your own pace with the help of a supportive community, or you can choose to participate in a peer enabled study group.

You will be able to establish social credentials as you participate in the community by earning points and badges for asking and answering questions. You can also submit your response to specific skill related challenges. You will be awarded a badge for that skill when sufficient participants upvote your response.

Our aim is to foster a peer based learning community where you can have fun while learning and also establish Internet credentials for your learning endevours.</p>


<h3 class="widgettitle">Community activity</h3>
               
                   <ul>   
                        <li>User<a href="#"> http://twitter.com/mehul_choube</a> enrolled in DIY Course <a href="#">Structure And Interpretation Of Computer Programs </a> </li>
                      
                    
                      
                    <li>User<a href="#"> http://twitter.com/cljneo</a> enrolled in DIY Course  
                    <a href="#">Structure And Interpretation Of Computer Programs</a>
</li>
                      
                    
                      
                        <li>User <a href="#"> http://twitter.com/karasiov</a> enrolled in DIY Course <a href="#"> Structure And Interpretation Of Computer Programs</a></li>
                      
                    
                      
                        <li>User <a href="#"> http://twitter.com/calpaterson </a> enrolled in DIY Course <a href="#">Structure And Interpretation Of Computer Programs</a></li>
                        
                        <li>User <a href="#"> http://twitter.com/dexterous </a> enrolled in DIY Course <a href="#">Structure And Interpretation Of Computer Programs</a></li>
                        
                        <li>User <a href="#"> http://twitter.com/knarasareddy </a> enrolled in DIY Course <a href="#"> Statistical Aspects of Data Mining (Data Mining at Google)</a></li>
                        
                        <li>User <a href="#"> http://twitter.com/coding_insights </a> enrolled in DIY Course <a href="#"> Structure And Interpretation Of Computer Programs</a></li>
                        
                        <li>User <a href="#"> http://twitter.com/bitsandwaves </a> enrolled in DIY Course <a href="#"> Structure And Interpretation Of Computer Programs</a></li>
                        <li>User <a href="#"> http://twitter.com/knarasareddy </a> enrolled in DIY Course <a href="#"> Statistical Aspects of Data Mining (Data Mining at Google)</a></li>
                        
                        <li>User <a href="#"> http://twitter.com/coding_insights </a> enrolled in DIY Course <a href="#"> Structure And Interpretation Of Computer Programs</a></li>
                        
                        <li>User <a href="#"> http://twitter.com/bitsandwaves </a> enrolled in DIY Course <a href="#"> Structure And Interpretation Of Computer Programs</a></li>
      </ul>


</div>





</div>


<div id="sidebar">
<h2>Thank you for your support </h2>
 <div><a href="#"><img src="images/blog_feed_logo.jpg" border="0" width="31" height="32" /></a>&nbsp;&nbsp;<a href="#"><img src="images/twitter_logo.jpg" border="0" width="32" height="32" /></a>
              <h2>Recent blog posts</h2>
              <p>Flipping the classroom</p>
<p>What is an online study group, and how to participate in one?</p>
<p>What I learned by facilitating an online course on Javascript 101</p>
<p>Hello World</p>
</p>                     
              
              
</div>

</div>



</div>



<!--End Container -->

<div id="footer">
<div class="site">

        <div class="info">
          <div class="links">
            <a href="#">Faq </a> |
            <a href="#">Terms of use</a> |
            <a href="#">Privacy policy</a> |
            <a href="#">Contact </a> |          </div>
          <div class="company">
  Except where otherwise noted, all content on diycomputerscience.com is licensed under a <a href="#">Creative Commons Attribution-ShareAlike 3.0 Unported License.</a>  </div>
        </div>
      </div>
 </div>

<!--Start Admin Bar -->
<div id="wpadminbar" class="no-grav">
	<div class="quicklinks">
		<ul>
			<li id="wp-admin-bar-bp-root-blog" class="">
				<a href="#">Login</a>
			</li>

			<li id="wp-admin-bar-bp-root-blog" class="">
				<a href="#">Help</a>
			</li>

			<li id="wp-admin-bar-bp-root-blog" class="">
				<a href="#">Feedback</a>
			</li>

			</ul>
 	</div>

	<div id="adminbarsearch-wrap">
		<form id="adminbarsearch" method="get" action="http://testbp.org">
			<input id="adminbar-search" class="adminbar-input" type="text" maxlength="150" value="" name="s">
			<input class="adminbar-button" type="submit" value="Search">
		</form>
	</div>
</div>
<!--End Admin Bar -->



</body>
</html>
 