#{extends 'main.html' /}

#{form @StudySessionSecureC.application(studySession.id)}
	<div>
		${studySession.applicationText}
	</div>
	<div>
		<textarea id="study_group_application" class="simple" rows="20" cols="80" name="application"></textarea>
	</div>
	<div>
		<input type="submit" name="submit" value="Submit" />
		<input type="reset" name="reset" value="Reset" />
	</div>
#{/form}
<SCRIPT>
	var init_obj = {element_id:'study_group_application', window: window};
	$.extend(true, init_obj, config_tinymce_adv);
	tinyMCE.execCommand('mceAddFrameControl',false, init_obj);
</SCRIPT>
	