#{extends 'main.html' /}

#{form @StudySessionSecureC.create()}
	<p>
		<div>
			<label>Title:</label>
		</div>
		<input type="text" name="title" value="" />
	</p>
	
	<p>
		<div>
			<label>Start Date:</label>
		</div>
		<input type="text" name="startDate" value="" />
	</p>
	
	<p>
		<div>
			<label>End Date:</label>
		</div>
		<input type="text" name="endDate" value="" />
	</p>
	
	<p>
		<div>
			<label>Application Text:</label>
		</div>
		<input type="text" name="applicationText" value="" />
	</p>
	
	<p>
		<div>
			<label>Number of Session Parts:</label>
		</div>
		<input type="text" name="sessionPartCount" value="" />
	</p>
	
	<p>
		<div>
			<label>Description:</label>
		</div>
		<textarea name="description"></textarea>
	</p>
	
	<p>
		<input type="submit" name="submit" value="create" />
		<input type="reset" name="reset" value="reset" />
	</p>
#{/form}